[2021-12-25 02:05] jackoelv commented on #7674
I think you can fix here:

cli/client.go
624:
			dur = 24 * time.Hour * time.Duration(days)
			epochs = abi.ChainEpoch(dur / (time.Duration(build.BlockDelaySecs) * time.Second))
replace to:
epochs = abi.ChainEpoch(dur / (time.Duration(**_30_**) * time.Second))

It should solve this problem.

[2021-12-25 04:09] jackoelv commented on #7674
yes, I have solve this problem.
Now I meet a new issue:
when I run in devnet this command:
lotus-miner storage-deals import-data xx

I got this:

ERROR: given data does not match expected commP (got: baga6ea4seaqj5rdeitkss6f5hdtgqkdellh65cti5neiuszcytkv533cplgzgpy, expected baga6ea4seaqhmpyav5opkbboc6tkj67vz7t3veypiajs6xjpfwzlxfvofuljkjq)

[2021-12-25 05:27] mtelka opened #7845 "Every miner/worker process uses 100+ MB of GPU RAM when idle (v1.13.x)"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2021-12-25 07:13] mtelka commented on #7845
Workaround: build lotus without the new cuda support (without FFI_USE_CUDA=1).

[2021-12-25 08:08] jackoelv commented on #7674
then I fix the issue by use manual deal.
when import-data, It tells me:
normal shutdown of state machine

[2021-12-25 08:20] jackoelv commented on #7674
well done.
just need to get rid of "--start-epoch" then all working fine.
if anybody has same issue can message to me.

[2021-12-25 08:20] jackoelv commented on #7674
@jennijuju  you can close the issue now.

[2021-12-25 15:57] Reiers commented on #3402
Hi @cryptowhizzard

Thanks for the report. Seems like the issue is outdated and fixed.

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2021-12-25 15:57] #3402 closed

[2021-12-25 15:59] Reiers commented on #3404
Hi @lionsoul2014 @cmartins88

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing ticket.

[2021-12-25 16:02] Reiers commented on #3654
Hi

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2021-12-25 16:02] #3654 closed

[2021-12-25 16:51] Reiers commented on #3806
**Hi @yallahh**

Thanks for the ticket about a feature request.

With monitor tools like:
`lotus-miner sealings jobs
`
`lotus-miner sealing workers
`
`export RUST_LOG=debug
`

I think that the Storage Provider have enough information to go on, and can calculate how much throughput based on that alone.

**If you want a monitoring tool, I recommend farcaster - it will show you timestamps, durations

[2021-12-25 16:51] #3806 closed

[2021-12-25 17:05] Reiers commented on #4161
**Hi @nickboot**

**Troubleshooting steps:**

- Check that GPU driver, is correct and working - `nvidia-smi`
- Was your miner busy with PC2/ or C2 under windowPost?
- Are you in sync?
- Does the control address/wallet have enough FIL in it?
- Check if you have any faulty sectors in that deadline
- Check your deadlines partitions with: `lotus-miner proving deadlines`

Run a check of each sector in

[2021-12-25 17:05] #4161 closed

[2021-12-25 17:06] Reiers commented on #4159
Hi

Thanks for the report. This is fixed.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2021-12-25 17:06] #4159 closed

[2021-12-25 17:09] Reiers commented on #4062
Hi @RustMan88

Thanks for the report. This is fixed.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2021-12-25 17:09] #4062 closed

[2021-12-25 17:13] Reiers commented on #4401
@Kubuxu *bump

[2021-12-25 17:19] Reiers commented on #5028
Hi @haheihou5

Thanks for the report. The issue you are experiencing lies elsewhere.

Please follow the guide: https://lotus.filecoin.io/docs/set-up/chain-management/

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2021-12-25 17:19] #5028 closed

[2021-12-25 17:28] Reiers commented on #5102
**Hi @kernelogic**

Thanks for the report. I think the issue you are experiencing lies elsewhere.

**I'm unable to reproduce the issue on latest tag.**

If you are still experiencing problems, open a new ticket or ask for help in our Discussions forum.

Closing ticket.

[2021-12-25 17:28] #5102 closed

[2021-12-25 17:32] Reiers commented on #5262
Hi @qiusugang

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2021-12-25 17:32] #5262 closed

[2021-12-26 12:24] RobQuistNL commented on #7839
This batching "logic" made me always lose the latest few added sectors (~20 to 40) in my deadlines. Disabling it (manually forcing the publishes with those commands) fixed my issue.

The batching logic needs to be edited - this is costing people a lot of burn fees. +100 internet points for @f8-ptrk for finding this issue!

[2021-12-26 22:43] f8-ptrk commented on #7724
just happened again - would be nice to have this implemented.

[2021-12-26 23:51] mxz9102 opened #7847 "Lotus-miner should return immediately with a warning message if same deals are imported again."
I ran the same import command multiple times and there was no output from lotus-miner. I also find anything like "New deal" in miner and market nodes' logs so it looks like these deals were just ignored.
I ran a test script for one deal and the import command took about 3.5 sec to return on average. So it seems lotus-miner read the car file.
Here is a desired behavior. If deals are imported again,

[2021-12-27 03:15] William8Work commented on #7827
Thank you @scaseye.

Additional updates:

The lotus daemon process crashed twice during this few days and one of them caused my power lost. After restart, I turned on the memory monitoring, and removed the memory control. I saw the following graph:

![Screen Shot 2021-12-19 at 7 57 52 PM](https://user-images.githubusercontent.com/3475205/147429928-4d276210-f6fe-48c2-81d2-ca4c78df173e.png)

I shut

[2021-12-27 03:20] William8Work commented on #7827
I am suspecting the split store or the compaction could be the reason why the RAM was using up high but I don't have definitive logs to prove it theory.

[2021-12-27 09:00] hunjixin commented on #4368
is finality(900 height)  a bit big for this issue?

[2021-12-27 09:36] LexLuthr commented on #7674
@jackoelv Please do not recommend closing issues opened by other community members unless it has been fixed in the code. Please let the lotus team take a call on fixing the issues.

[2021-12-27 14:32] Reiers commented on #7847
**Hi @mxz9102**

Thanks for the feature request. I reproduced your steps.
If I import the same file again, my markets node logs will output this error after it read the car file:
[code]

But I agree that it would be nice to have an output like this:
[code]
_I will label it accordingly._

**There's no easy fix right away so I will suggest that you keep track of your offline deals.**

[2021-12-27 16:36] jleni commented on #7724
we are getting frequent alerts and portscanning issues due to this. In some cases, providers maybe shutdown nodes because of this.
I would suggest increasing the priority of this.

[2021-12-27 20:05] ZenGround0 commented on #7411
This should also be done for snap deals upgrades

[2021-12-28 11:20] eirture commented on #7597
I replaced the `kIOMasterPortDefault ` with `kIOMainPortDefault` at https://github.com/Zondax/hid/blob/master/hidapi/mac/hid.c#L693. It works for me.

I found this solution in kovidgoyal/kitty#3719

[2021-12-29 04:24] mxz9102 commented on #7847
@Reiers Thanks for your feedback. I tried to grep the error from the log of market node but couldn't find anything. I'll check the log settings of my market node.
![image](https://user-images.githubusercontent.com/15658707/147627226-6a5d64a8-5ae6-41f3-af7d-f92298e55f1e.png)

[2021-12-29 07:39] amerdsm commented on #5813
What is the notifs channel used for? why is it being closed a problem for the miner?

[2021-12-29 07:41] amerdsm commented on #7653
we have the miner on a separate box on its own, but we still face this issue. Restart solves it, but we lose a lot of time. We cannot seal all the accepted deals, and it's a mess.
Any suggestions to debug or expose the real reason behind this issue?

[2021-12-29 08:06] jackoelv commented on #7674
@LexLuthr   take a look above:

I think you can fix here:

[code]

a little work, then the issue solved.

[2021-12-29 08:27] LexLuthr commented on #7674
@jackoelv I have already mentioned how to workaround the problem in my initial description. The issue was opened to fix this permanently in the code for 2k build.

[2021-12-29 08:39] jackoelv commented on #7674
Oh, got it: -P

[2021-12-29 12:04] #3358 closed

[2021-12-30 03:38] KPWorkspace opened #7853 "generate window post skipped sectors"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2021-12-30 14:26] Reiers commented on #7853
**Hi @KPWorkspace**

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to[ Lotus Discussions](https://github.com/filecoin-project/lotus/discussions/categories/storage-provider) for help and troubleshooting.

Closing Lotus Issue ticket.

[2021-12-30 20:58] fadyanwar commented on #5371
Any updates on this?
I get this error during the initial sync using AMIs provided in the docs

 ⨎ lotus sync status
2021-12-30T20:57:41.259Z	WARN	cliutil	util/api.go:162	Couldn't load CLI token, capabilities may be limited: open /var/lib/lotus/token: permission denied
2021-12-30T20:57:41.260Z	WARN	cliutil	util/apiinfo.go:81	API Token not set and requested, capabilities might be limited.
sync statu

[2021-12-31 06:15] lichegn opened #7855 "cant use Lightweight snapshot"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-01 13:16] Reiers commented on #7855
Hi @lichegn

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to [Lotus Discussions](https://github.com/filecoin-project/lotus/discussions) for help and troubleshooting.

Closing Lotus Issue ticket.

[2022-01-01 15:02] Reiers commented on #3396
Hi @kernelogic

Thanks for the report. This issue is outdated and should be fixed in the latest releases.

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-01 15:02] #3396 closed

[2022-01-01 15:10] Reiers commented on #3838
Hi

Thanks for the report. This should be fixed in the latest release.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing Lotus Issue ticket.

If you are still experiencing this problem, open a new ticket with reproducing steps or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-01 15:10] #3838 closed

[2022-01-01 21:45] Reiers commented on #7597
**Hi @jitash - Thanks for the report.**

and thanks @eirture - I will add labels and assign it to the right team for analysis.

I have already reproduce the solution to the issue - and I built Lotus successfully with the small change in `hid.c`

[code]

reiers@MacBook-Pro lotus % sudo make install
[code]

reiers@MacBook-Pro lotus % lotus -v
`lotus version 1.13.2-rc4+mainnet+git.e05fdf892`

Reprodu

[2022-01-01 23:53] Reiers commented on #7832
Hi @AllanOricil

Thanks for filing an issue - it appears that a ticket is already open about this.
Here: [#7597 ](https://github.com/filecoin-project/lotus/issues/7597)

You will also find a temporary solution there on how to build.

Closing this one due to duplicate ticket. Feel free to add anything you like to the other ticket.

[2022-01-01 23:53] #7832 closed

[2022-01-02 00:10] Reiers commented on #6279
Hi @ncgege

Thanks for the report. With no logs, its hard to reproduce the issue or find the cause.
If you had 1 sector fault, you need to either restore it or terminate.

Both minerIDs provided, have been able to do winningPost for the past 30 days.

Tip:
- Make sure that you are in sync

and please upgrade Lotus to the latest release.

*Link to latest tags [here.](https://github.com/filecoin-pro

[2022-01-02 00:10] #6279 closed

[2022-01-02 23:07] jennijuju commented on #5820
closed by #7814

[2022-01-02 23:07] #5820 closed

[2022-01-02 23:17] jennijuju commented on #7241
won't fix in lotus - [this](https://github.com/filecoin-project/lotus/issues/7241#issuecomment-927797564) should be considered in [Boost](https://github.com/filecoin-project/boost).

[2022-01-02 23:17] #7241 closed

[2022-01-02 23:19] jennijuju commented on #7162
Are you still seeing this issue? if so - please provide reproduce steps for trouble shooting.

[2022-01-02 23:21] #7224 closed

[2022-01-02 23:22] #6849 closed

[2022-01-02 23:25] jennijuju commented on #7138
@raulk could you please help define the scope so that we can have bloxico to work on this potentially?

[2022-01-02 23:48] benjaminh83 commented on #7162
I have not seen my miner fail to acquire an unsealed sector and triggering a UNS job since this event.
I do remember @stuberman describing pretty specifically how an UNS job is failing on a Worker unless it has a mounted can-store path. I can't find it, so I suggest we do some ned UNS testing and narrow down the actual issue from using sealing-workers to do UNS jobs.

[2022-01-02 23:49] jennijuju commented on #7385
majority of these should be improved with rate limiting, new gs and so on in newer lotus releases. please create new tickets if a specific issue still exists.

[2022-01-02 23:49] #7385 closed

[2022-01-03 03:21] jennijuju opened #7863 "Suport FIP 0029"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-01-03 04:45] bxs17 opened #7864 "Sectors failed to seal after Miner/Worker Restart Cannot complete the seal"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-01-03 14:32] RobQuistNL opened #7865 "Newly created sectors just barely miss wdpost, cause faults, and cause a penalty burn"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-03 14:35] RobQuistNL opened #7866 "Disable worker prevents other workers to fetch finished jobs from their storage"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-03 17:35] Reiers commented on #7865
**Hi @RobQuistNL**

Thanks again for the report. I have added labels and will assign it to the right team for analysis.
I might tag you again for more information.

**Just to rephrase this issue and add some information to the bug:**

Lotus marks the new sector as skipped and submits message to the chain - **Which causes penalty.**
However, If Lotus doesn’t mark the sector as skipped, instead, jus

[2022-01-03 18:08] Reiers commented on #7264
**Hi everybody !**

Thanks for the report. This issue has been resolved in release [v1.13.2-rc4](https://github.com/filecoin-project/lotus/releases/tag/v1.13.2-rc4) and will be implemented in the upcoming release v1.13.2.

Reproduced:
I tested my markets node with deals for past 24 hours, and restarting and cancel work as expected.
No hangs and no need kill markets process.

Lotus version:
[code]

[2022-01-03 18:08] #7264 closed

[2022-01-03 19:23] Reiers commented on #7830
**Hi @AllanOricil**

Thanks for reporting - Take a look at this one: (https://github.com/filecoin-project/lotus/issues/7597)

**To solve this issue to this:**

[code]

Remember to run this before the build:
`source $HOME/.cargo/env
`

You will most likely run in to another issue, a temporary solution is provided in the other ticket.

Closing this one.

[2022-01-03 19:23] #7830 closed

[2022-01-03 20:15] Reiers commented on #4025
https://github.com/filecoin-project/lotus/issues/7865

[2022-01-03 21:04] ZenGround0 opened #7867 "Skip TestStateRecoverDealIDs until we can mock sm context to remove fsm tech debt"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-03 21:41] RobQuistNL opened #7868 "Scheduler assigns multiple tasks to single machine all at once while others have 0 load"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-03 21:43] RobQuistNL commented on #7868
Related: https://github.com/filecoin-project/lotus/issues/7607

[2022-01-03 21:43] RobQuistNL commented on #7868
Related: https://github.com/filecoin-project/lotus/issues/3709

[2022-01-03 21:43] RobQuistNL commented on #7868
Related: https://github.com/filecoin-project/lotus/issues/2675

[2022-01-03 21:43] RobQuistNL commented on #7868
Related: https://github.com/filecoin-project/lotus/issues/2919

[2022-01-03 21:43] RobQuistNL commented on #7868
Related: https://github.com/filecoin-project/lotus/issues/2758

[2022-01-03 21:43] RobQuistNL commented on #7868
Related: https://github.com/filecoin-project/lotus/issues/2742

[2022-01-03 21:45] RobQuistNL commented on #7868
This has something to do with the "window" logic for sure.
I feel like if a batch of sectors comes along in a single window, they all get assigned to a single machine - every time.
Instead, what I expect it to do, is check _all_ available machines and distribute work spread out over those machines.

[2022-01-03 22:17] Eliovp commented on #7868
I admire your perseverance @RobQuistNL
Wishful thinking is a great thing :)

[2022-01-03 23:42] jennijuju opened #7869 "Fail early if the deals are expired during PRU handlings"
like in `handleReplicaUpdate`, we should add more deal error/expiration handling in `handleProveReplicaUpdate1` and `handleProveReplicaUpdate2`

[2022-01-03 23:44] jennijuju commented on #7869
probably in `handleSubmitReplicaUpdate` too

[2022-01-04 00:29] jennijuju opened #7870 "v7 migration integration"
integrate the actor v7 migration mechansim

[2022-01-04 00:56] Reiers commented on #7868
**Hello again @RobQuistNL**

Thanks for the report and for gathering all the related issues in one place.
_I have added labels and will assign it to the team for analysis._

[2022-01-04 01:01] Reiers commented on #7778
**Hi @askender**

Thanks for creating the ticket. I have added labels and will assign it to the right team for analysis.

[2022-01-04 01:04] Reiers commented on #7820
**Hi @f8-ptrk**

Thanks for the report. I have added labels and will assign it to the right team for analysis.
Im seeing the same thing here.

[2022-01-04 01:06] supriya-premkumar commented on #7604
I am seeing similar issues where some deals were stuck in `StorageDealStaged` for more than 11 days and after a restart they went to `StorageDealError` state due to the current epoch has passed deal proposal start epoch.

[2022-01-04 01:09] Reiers commented on #7793
Hi @pocy9901

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to [Lotus Discussions](https://github.com/filecoin-project/lotus/discussions) for help and troubleshooting.

Closing Lotus issue ticket. Someone will get back to you soon ! Thanks again

[2022-01-04 01:14] Reiers commented on #7864
Hi @bxs17

Thanks for the report. The issue you are experiencing lies elsewhere and not a feature request.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-04 01:22] Reiers commented on #7829
**Hi @AllanOricil  - Thanks for the report.**

I have already reproduce the solution to the issue - and I built Lotus successfully with the small change in `hid.c`

You can find the solution in another open ticket: https://github.com/filecoin-project/lotus/issues/7597

We are aware of the issue - and working on a fix.

[code]

reiers@MacBook-Pro lotus % sudo make install
[code]

reiers@MacBook-Pro

[2022-01-04 01:22] #7829 closed

[2022-01-04 01:26] Reiers commented on #7839
**Hello again @f8-ptrk**

Thanks for taking the time to find this bug and creating a the report.
I have added labels and assign it to the right team for analysis.
We might tag you again for more information.

[2022-01-04 01:55] RobQuistNL commented on #7868
Because this machine (w15) was assigned too much, it crashed halfway through, and all the sectors got re-assigned, to the next victim.

[code]

I've seen this behaviour since forever.

Log of the service crashing (notice all the layers happening at the same time).
It has 2TiB RAM and 2x 64 core CPU's so 30 at the same time should not be an issue.
[code]

[2022-01-04 01:58] RobQuistNL commented on #7865
Lotus is trying to prove it but is unable to aquire a read lock (because the file is still being transferred over NFS).

So maybe its not marking it as "skipped" _because_ that read lock accured.

[2022-01-04 07:17] magik6k commented on #7868
Thanks for the detailed issue. Yes, this needs a change in the scheduler, and there is already a TODO in the code explaining what needs to happen - https://github.com/filecoin-project/lotus/blob/master/extern/sector-storage/sched.go#L479

[2022-01-04 09:11] magik6k opened #7876 "Retrieval should use available funds in existing payment channels"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-04 09:18] magik6k opened #7877 "`lotus paych status` broken after collecting channels"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-04 11:21] BlocksOnAChain commented on #7869
@jennijuju @arajasek  -  this can probably include the following "to do" you mentioned : https://github.com/filecoin-project/lotus/blob/f7884c4f4550f81bc411e389aa7bc677b3bfeb25/extern/storage-sealing/input.go#L118

[2022-01-04 11:36] BlocksOnAChain opened #7880 "Gas estimation updates for Proofs verification - (SnapDeals) implementation"
We would use this issue to follow all the needed changes for gas estimation, regarding SnapDeals proofs verification we want to introduce with v15 Network upgrade

[2022-01-04 14:51] jennijuju commented on #7092
I think this was caused by some highly loaded cron back then and we introduced some optimization.

are you still observing the long validation since then with a newer lotus?

[2022-01-04 17:01] magik6k commented on #7732
If this still happens on latest master, would you be able to provide goroutines again, like in https://github.com/filecoin-project/lotus/issues/7732#issuecomment-985349585?

[2022-01-04 22:09] Reiers commented on #6257
Hi @mrworkdev

I'm not able to reproduce this issue on:
[code]

Remember to restart the miner if you edit anything in `config.toml`.
_And double check that you don't have attached a sealing path to your miner._

Closing the Lotus issue ticket.

If you are still experiencing this issue, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussio

[2022-01-04 22:09] #6257 closed

[2022-01-04 22:49] Angelo-gh3990 commented on #7732
@magik6k I send you a DM, test on version  v1.13.2-rc5 is still the same. I'll test later with the master version if needed?

[2022-01-05 10:14] sergey989 commented on #7092
@jennijuju thank you, @mur-me should check this

[2022-01-05 12:14] mur-me commented on #7092
Hi @jennijuju, can you please share in which version you've done improvements because we still rarely observe such behavior.

For example, one of the lotus instances experienced an increase in duration for block validation last week:
![image](https://user-images.githubusercontent.com/7295623/148211842-e0b47c51-42fe-4c52-820b-18882f337824.png)
I've also added logs for 30 minutes from this timeline:

[2022-01-05 14:13] JshFeel opened #7885 "lotus-miner cannot get id from non id address"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-05 16:31] RobQuistNL commented on #7868
The same seems to happen on a machine level with C2 / PC2. I have 10 machines with 16 workers each (2 C2, 2PC2 per GPU, and 4GPU's per machine) - but I think the order in which machines / workers connect decides how work gets distributed.
Some round-robin system would be much nicer. Right now, I'm sealing a little bit, and I have work spread out over the PC1 machines (because 1 worker per system),

[2022-01-05 17:10] placer14 commented on #7724
I have a few questions, just to be sure we agree on what we're doing here:
1. It's unclear what is desired when a connection is "filtered".  Do you have context here? What would the end result look like?
2. Also, by what index should we "filter" a libp2p connection? Your example shows IPs and ports, but there are also peer IDs. Should I assume just IPs for now? And if so, do we want to enum each I

[2022-01-05 17:48] jennijuju commented on #7724
@placer14 I think it should go in https://github.com/filecoin-project/lotus/blob/6f316cddbbace4134c0f9e20484e40ea507181cd/node/config/def.go#L44

@magik6k @@aschmahmann could you please provide more directions?

[2022-01-05 18:28] aschmahmann commented on #7724
@placer14 you're probably looking to emulate something like https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#swarmaddrfilters. Probably the most common set of filters are the ones for disallowing private network connections (i.e. the server profile https://github.com/ipfs/go-ipfs-config/blob/ce20398638c38d2b3961dfc0854f2f7237c39964/profile.go#L48).

Here is how the libp2p option is insta

[2022-01-05 18:47] jennijuju opened #7886 "TRUST_PARAM for SnapDeals"
This is the first time we have a new proof params for the network, to make sure all network participants have the right params in the way that works for them, we should:
- check if there is the valid params locally
- if not fetch from the provided source

[2022-01-05 18:50] jennijuju opened #7887 "Params for SnapNet"
setup the right params in butterfly so it can become a SnapNet

Don't forget to update `NewestNetworkVersion`:
- [x]  [https://github.com/filecoin-project/lotus/blob/master/build/params_shared_vals.go](https://github.com/filecoin-project/lotus/blob/master/build/params_shared_vals.go)
- [ ]  [https://github.com/filecoin-project/lotus/blob/master/build/params_testground.go](https://github.com/fileco

[2022-01-05 18:51] jennijuju opened #7888 "Final upgrade epoch and ntwk name for mainnet"
as titled

[2022-01-05 18:52] jennijuju opened #7889 "Proof integration for Snap deals"
as titled

[2022-01-05 18:53] jennijuju commented on #7525
closed by #7615

[2022-01-05 18:53] #7525 closed

[2022-01-05 18:54] #7517 closed

[2022-01-05 18:54] jennijuju commented on #7517
closing since its moved to Done

[2022-01-05 18:54] jennijuju commented on #7521
Closing since its moved to done

[2022-01-05 18:54] #7521 closed

[2022-01-06 00:14] jennijuju opened #7891 "Disable mark-for-upgrade 2 epoch days before the network upgrade"
this is to avoid potential edge case of carrying a current cc upgraded sector across the upgrade

[2022-01-06 00:38] Reiers commented on #7885
Hi @JshFeel

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-06 06:19] Angelo-gh3990 commented on #7732
@magik6k @jennijuju @Reiers
ok so updated to v1.13.2-rc7
updated filc to latest master
ran : sysctl -w net.core.rmem_max=2500000 for bigger buffer
started download, download is insanely fast ... after a while (several GB's) it slow's down a lot but keeps going
Download was successful this time .... yay :-) :-)
Maybe more testing is needed, but look promising :-)

[2022-01-06 08:54] rjan90 commented on #7732
Did some tests on on rc7, using a couple vm´s on gcloud for filc:
**Retrieving to US-Central1 from Norway:**
[code]
**Retrieving to Europe-North(Finland) from Norway:**
[code]
I did not have any success when I tried to retrieve using PieceCID `baga..`, they just timed out. And also I had even better performance (average speed), when trying to retrieve just the root CID.

[2022-01-06 11:11] askender opened #7895 "the result of `lotus-miner sectors list` is not format well"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-06 16:23] Reiers commented on #7895
Hi @askender

Thanks for the feature request - **do you have a suggestion or a solution to what need to be changed?**

[code]
I think the `sector list` has a good format, but if you think it needs to be changed then I will add labels.
[code]

[2022-01-06 16:34] Reiers commented on #7545
**Hi @RobQuistNL**

Did the issue get resolved in the merge?
If so, we can close this one :)

[2022-01-06 16:49] Angelo-gh3990 commented on #7732
@rjan90 :
A quick test here in the EU from google pulling data from my dc in Brussels :
./filc retrieve --no-ipfs=true --miner=f0xxxxx mAXCg5AIgzmWXB+M4hE8NojRdaMK/lGivppRvBzA4CabNRipbnu0
05:11:22  INFO  Querying FIL retrieval candidates...
05:11:23  INFO  Got back 1 retrieval query results of a total of 1 candidates
05:11:23  INFO  Attempting FIL retrieval with miner f0xxxxx from root CID bafykbz

[2022-01-06 16:52] Angelo-gh3990 commented on #7732
I forgot, did you set the bigger buffer size ?
https://github.com/lucas-clemente/quic-go/wiki/UDP-Receive-Buffer-Size

[2022-01-06 17:06] rjan90 commented on #7732
@Angelo-gh3990 No I forgot that! Will try a new run, might speed things up even more!

[2022-01-06 18:14] benjaminh83 commented on #7162
I have not experienced issue 2 since, so I would not consider it a bug.

Issue 1 has been re-addressed in this issue #7763 so we can close this one and continue in there.

[2022-01-06 18:14] #7162 closed

[2022-01-06 22:58] Wondertan commented on #7732
@Angelo-gh3990, how do you guys run the node with quic? When I add a quic address logs say me that there is no transport registered for such address. Also, quic by default is only in libp2p 0.16, while lotus relies on 0.15. The line https://github.com/filecoin-project/lotus/blob/v1.13.2-rc7/node/modules/lp2p/transport.go#L12 is not used anywhere, thus I get the no transport registered error. Is th

[2022-01-08 04:41] potato1992 commented on #5248
I have the same problem, it turns out that my Raid is missing one disk.

[2022-01-09 04:17] ZenGround0 opened #7904 "CI Failing on bleeding edge conformance tests"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-09 17:33] jennijuju commented on #7092
I’d recommend you get on the latest lotus releases - occasional high validation time is acceptable/expected when certain onchain events spike, for example, sector terminations.

[2022-01-10 04:00] #7904 closed

[2022-01-10 04:29] #7716 closed

[2022-01-10 07:42] s0nik42 opened #7911 "lotus-miner sectors expired list a sector not expired yet."
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-10 08:45] ZenGround0 commented on #7411
While looking into this for snap deals upgrades one particular problem I ran into is that the FSM loses track of which data goes with a deal once that data has been added as a piece into a sector.  The cleanest solution is to give control of the deal back to the Deal FSM which can then give control back to the Sealing FSM if checks pass.  The minimal thing we need from the Deal FSM is a way to get

[2022-01-10 09:06] pyropy opened #7912 "Failing to initialize miner on local development network"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-10 10:07] ZenGround0 commented on #2735
With v15 and the deprecation of the old concept of CC upgrade this issue is no longer relevant

[2022-01-10 10:07] #2735 closed

[2022-01-10 11:00] Reiers commented on #7911
Hi @s0nik42

Thanks for taking the time to create this report.

We are aware of the double sector 0 issue https://github.com/filecoin-project/lotus/issues/7779

In this case, both those sectors where `mark-for-upgrade` and or no longer active. Therefor its safe to remove them.
It will remove both sectors (0) when you run the cmd:
`lotus-miner sectors expired --remove-expired
`

See this Slack thre

[2022-01-10 11:00] #7911 closed

[2022-01-10 11:07] s0nik42 commented on #7911
All good then ! thank you !

[2022-01-10 11:11] Reiers commented on #7523
**Hi @tutorialevideo**

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to [Lotus Discussions](https://github.com/filecoin-project/lotus/discussions) for help and troubleshooting.

[2022-01-10 11:11] #7523 closed, assigned to nobody

[2022-01-10 11:24] Reiers commented on #3406
Hi @William8Work

This issue is outdated.

Closing.

[2022-01-10 11:24] #3406 closed

[2022-01-10 11:57] f8-ptrk opened #7914 "lotus-miner deal status not in sync with on chain status of deals"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-10 12:08] Reiers commented on #7914
**Hi @f8-ptrk**

Thanks for creating the ticket.
I have added labels and will assign it to the right(several) teams for analysis.
We might tag you again for more information.

[2022-01-10 12:27] #7880 closed

[2022-01-10 12:37] #7545 closed, assigned to nobody

[2022-01-10 17:13] jennijuju commented on #7886
Make sure it's disabled for snap deals to make sure everyone is using the right proof for mainnet (not the temporary proof used for snap deals

[2022-01-10 17:34] arajasek opened #7916 "Update to final params before cutting the final release"
This is mostly a reminder that while the RCs will have the test params, they should be gone before cutting the final release and should never actually make it into master.

[2022-01-10 18:17] jennijuju commented on #2963
Hey @ribasushi Do you have any idea what information could be helpful here? like print out the log lines or so?

Would it be good enough if we add trouble shooting guidelines to docs?

[2022-01-10 18:19] #4036 closed

[2022-01-10 18:42] jennijuju commented on #7914
this is great ux feedback - transferring to boost so they will make sure they cover this in their design.

In lotus = we should make sector fsm states up to date for `sector list`  @Reiers could you please confirm if we have a ticket for this? if not - lets def create one, that is not too hard to improve but has been quite a pain in the ass.

[2022-01-10 23:00] ribasushi commented on #2963
@jennijuju I really don't know if this is of any relevance anymore. Output probably changed a lot since.

@Reiers perhaps to chime in, or just close it.

[2022-01-11 00:30] #7886 closed

[2022-01-11 00:44] SealStorage-Jacques opened #7919 "ERROR: failed to resolve ID address: %!w(address.Address={})"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-11 02:53] RobQuistNL commented on #7868
What would it cost to bump up the priority?
[code]

I have 10 "c" machines

[2022-01-11 05:20] micahpw commented on #5797
Check to see if your path "/cachedisk/seal" contains any extra directories or files within that weren't generated by lotus or that don't follow the typical file format. I had a similar trouble starting up my miner since I had an extra directory within my storage path/directory.

[2022-01-11 05:33] jennijuju commented on #7919
The only fix lotus should do here is to wrap the error better.

[2022-01-11 05:37] jennijuju commented on #7919
The reproduction step suggests a user behaviour error - multisig is an actor  account that doesn’t have keys to sign transactions. To send a message using multisg , singers of the multisig  need to propose and approve messages (based on the threshold) refer to lotus doc for the usage of multisg.

[2022-01-11 05:40] jennijuju commented on #2963
Ack -  I checked with him first and he didn’t think of anything obvious needed - Closing!

[2022-01-11 05:40] #2963 closed

[2022-01-11 10:17] #7912 closed

[2022-01-11 12:24] Reiers commented on #7868
- Nothing, I will bump it up to a P2.

Thanks again creating the ticket, and all the logs !

[2022-01-11 13:53] willscott opened #7929 "API support for MsigGetVestingSchedule"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-01-11 15:15] Reiers commented on #7929
**Hi @willscott**

Thanks for this feature request.
I have added the labels and will forward it to the right team !

[2022-01-11 22:43] jennijuju commented on #7887
also add the proof params!

[2022-01-11 22:49] #7889 closed

[2022-01-11 23:11] jennijuju opened #7934 "Deprecate mark-for-upgrade after ntwk v15 upgrade"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-11 23:12] #7891 closed

[2022-01-12 08:36] mur-me commented on #7092
We always using using the latest version of a stable release.
I'll monitor on the freshest `1.13.2` release and will let you know if I find something either strange or interesting.

[2022-01-12 12:58] RobQuistNL opened #7936 "lotus-miner storage-deals set-ask is completely broken"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-12 13:50] Reiers commented on #7936
**Hi @RobQuistNL**

Thanks for the report. The issue you are experiencing lies elsewhere.

Tested all cmds on miner, and separate markets node.

## Miner
[code]

`reiers@miner:~$ lotus-miner storage-deals set-ask --price=0 --verified-price=0 --max-piece-size=32G --min-piece-size=256B
`

[code]

`reiers@miner:~$ lotus-miner --call-on-markets storage-deals set-ask --price=0 --verified-price=0 --max-

[2022-01-12 13:50] #7936 closed

[2022-01-12 14:59] RobQuistNL commented on #7936
Hey @Reiers, try the `set-ask`. The `get-ask` is working for me, too, as you can see from my post. The issue is that the `set-ask` is not working.

[2022-01-12 15:00] RobQuistNL commented on #7936
Apart from that, even with broken config, a `panic` should never happen.

[2022-01-12 16:30] RobQuistNL commented on #7936
Where did you get that `APISEALER` and `APISECTORINDEX` from? What should it hold? There's nothing about that in the docs _or_ the Lotus source.

I am missing the `SealerApiInfo` and `SectorIndexApiInfo` nodes in my markets `config.toml` - those do not appear in the docs either. They are in the default miner config since 09-30-2021 so I think I missed that (I don't regenerate my configuration ever

[2022-01-12 16:43] RobQuistNL commented on #7936
EDIT: I actually do have those in, in the markets node.

I don't have them in my miner config.

[2022-01-12 17:53] Reiers commented on #7936
Let me know - if its working.

We will send this to the Docs team, so thanks for flagging. I will even make short PR myself if its not clear that
[code]
Is needed and not explained where they came from.

+ we will add a section under Upgrades about your config.toml.
[code]

[2022-01-12 18:30] RobQuistNL commented on #7936
You want me to add them in my miner node? So the miner node needs an API URL to itself?

[2022-01-12 20:11] neondragon opened #7938 "Markets Node shouldn't require write access to unsealed files that it serves for retrieval"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-12 22:17] #7870 closed

[2022-01-12 23:50] #7869 closed

[2022-01-12 23:51] #7515 closed

[2022-01-12 23:51] #7519 closed

[2022-01-13 00:24] #7887 closed

[2022-01-13 13:00] Reiers commented on #7938
**Hi @neondragon**

I agree - lets see if we can do anything about that.
I will add labels and will assign it to the right team for analysis.

Thanks for taking the time to create the ticket !

[2022-01-13 18:24] Reiers commented on #7570
**Hi @neondragon**

Thanks for this feature request. I will add labels and will assign it to the right team for analysis.

[2022-01-13 18:26] #7747 closed

[2022-01-13 18:53] Reiers commented on #7497
Hi @anshengme

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-13 18:53] #7497 closed, assigned to nobody

[2022-01-13 18:54] Reiers commented on #7490
Hi @Flare183

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-13 18:54] #7490 closed, assigned to nobody

[2022-01-13 18:59] Reiers commented on #7476
Hi @Angelo-gh3990

Thanks for the report. Im unable to reproduce the issue here.
Its works fine.

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-13 18:59] #7476 closed

[2022-01-13 20:45] jennijuju opened #7946 "Support selector that complies UnixFS paths for retrieval"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-13 23:50] Reiers commented on #7281
**Hi @emad22552**

Thanks for this feature request.
But this is not something that will be changed in the near future, and you are below the minimum requirement with 64GB RAM.

We are always trying to optimize, but as it stands right now. The minimum will be 128 GB RAM to run a Storage Provider/miner service.

I personally would not recommend using that much swap anyway - the disk will burn out fa

[2022-01-13 23:50] #7281 closed

[2022-01-13 23:57] Reiers commented on #6992
**Hi @hesen2006cn**

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Also checkout: https://lotus.filecoin.io/docs/set-up/chain-management/#lightweight-snapshot

Closing Lotus issue ticket.

[2022-01-14 00:01] Reiers commented on #6727
Hi @s0nik42

Thanks for this feature request. I will add labels and will assign it to the right team for analysis.

[2022-01-14 00:05] Reiers commented on #6692
**Hi @zhangsj**

Thanks for the report. The issue is outdated, and not relevant anymore.

If this is a issue in current release please open a new ticket.
Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

Thanks again !

[2022-01-14 00:05] #6692 closed

[2022-01-14 00:09] Reiers commented on #6644
**Hi @Shekelme**

Thanks for the report. Is the issue still present in the latest release?

Latest tags [here.](https://github.com/filecoin-project/lotus/tags)

If you are experiencing problems, you can also ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-14 00:12] Reiers commented on #6657
Hi @johnli-helloworld

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-14 00:14] Reiers commented on #6383
**Closing lotus issue ticket since it has been answered.**

[2022-01-14 00:14] #6383 closed

[2022-01-14 00:21] Reiers commented on #6086
**Hi @namoo-cloud**

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-14 00:29] Reiers commented on #6049
**Hi @Shekelme**

Thanks for the report.

**Are still experiencing this issue on the latest release?**

[2022-01-14 00:30] Reiers commented on #5724
Hi @j2eekingcn

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-14 00:32] Reiers commented on #5713
Hi @s0nik42

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-14 00:32] #5713 closed

[2022-01-14 00:36] #5534 closed

[2022-01-14 01:14] Reiers commented on #5153
Hi @maginaro

Thanks for the report. The issue is outdated.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-14 01:14] #5153 closed

[2022-01-14 01:21] Reiers commented on #5136
**How to remove it, after manually deleted a sector**

Create a dummy sector in your/storage/sector/path `touch s-t0xxxxx-sectornumb`
Restart the miner
`lotus-miner sectors remove --really-do-it <sectorNR>
`
After that:
`lotus-miner sectors terminate --really-do-it <sectorNR>`

Closing Lotus issue ticket.

[2022-01-14 01:21] #5136 closed

[2022-01-14 01:25] Reiers commented on #5165
Hi @alingb

Thanks for the report. The issue you are experiencing lies elsewhere and is outdated.

You need to Terminate the sector:
`lotus-miner sectors terminate --really-do-it <sectorNR>
`

Closing Lotus issue ticket.

[2022-01-14 01:25] #5165 closed

[2022-01-14 01:28] Reiers commented on #5090
**Hi @shaodan**

Thanks for the report.

Are you still experience this issue on the[ latest releases?](https://github.com/filecoin-project/lotus/tags)

[2022-01-14 01:30] Reiers commented on #5063
Hi @2019jack

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)*

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-14 01:30] #5063 closed

[2022-01-14 01:31] Reiers commented on #5051
Hi @yzn5555

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-14 01:33] Reiers commented on #5004
Hi @dodohack

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-14 01:35] Reiers commented on #4766
Hi @vonhenry

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-14 01:43] Reiers commented on #4225
Hi
Thanks for the feature request.
The current `lotus-miner sealing jobs` display all the above.
[code]

Closing Lotus Issue Ticket.

[2022-01-14 01:43] #4225 closed

[2022-01-14 02:45] RobQuistNL opened #7954 "Logging logs wrong file and line due to "lazy" function"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-14 14:06] Reiers commented on #7498
**Hi @emad22552**

Thanks for the report. I will add labels and will assign it to the right team for analysis.
I re-produced the steps, and got the same result in the latest release.

[2022-01-15 01:26] RobQuistNL commented on #5126
FYI: this still happens

[2022-01-16 12:25] Araquiel commented on #5127
try to change owner to ledger wallet and have a same error.
did you found solution?

[2022-01-16 14:39] shotcollin opened #7960 "Bad file descriptor (os error 9) causing window post to fail for provable sectors, reproduced on multiple systems running miner"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-16 18:00] Reiers commented on #7960
**Hi @shotcollin**

Sorry to hear that - thats a lot of slashing.

- This might indicate that you have a bad RAM stick, or a disk issue (where params is stored)
- Please try to switch the RAM, so the mismatch error goes away.
I usually take go 1 by 1 stick, boot up the machine
[code]
This will check the params, if they are already downloaded. And you should be able to get the `mismatched parameter

[2022-01-16 22:43] Reiers commented on #6008
Hi @yuzhongrong

Thanks for the report. The issue is outdated.

Read more about chain management here:
https://lotus.filecoin.io/docs/set-up/chain-management/

If this is a issue in current release, please open a new ticket.

Thanks again !

[2022-01-16 22:43] #6008 closed

[2022-01-17 09:50] oricot commented on #5127
I m able to withdraw but I don't think their is a solution to change the owner. I didn't try for a while

[2022-01-17 13:52] RobQuistNL opened #7963 "Lotus miner set-ask optional parameters are not optional"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-17 13:58] RobQuistNL opened #7964 "Lotus-miner set-ask (and probably many more!) do not get env var configuration from service"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-17 18:46] jennijuju commented on #5164
lotus pulls the onchain information for this cli. that being said, Lotus should expose `[CompactPartitions](https://github.com/filecoin-project/specs-actors/blob/db4db3cc8e3d9013d3080cd387b94ac1d2fe38dc/actors/builtin/miner/miner_actor.go#L1737)` which will clear up the terminated sectors in the miner actor.

[2022-01-17 22:09] jennijuju commented on #7815
fixed in https://github.com/filecoin-project/go-fil-markets/pull/658

[2022-01-17 22:09] #7815 closed

[2022-01-18 00:43] Reiers commented on #6061
Hi @narkissos

Thanks for the report. The issue is outdated.

If you are still experiencing problems in current release, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

Thanks !

[2022-01-18 00:43] #6061 closed

[2022-01-18 00:53] Reiers commented on #6180
Hi @xinaxu

Thanks for the report!

You can:
[code]

Just add the flag `lotus-miner sectors renew --really-do-it  --to=<value of your choice>` to the cmd, and it will renew all sectors.
If you dont add the flag `--really-do-it`, it will just show you what it will do with sectors.

_Discaimer: BE CAREFUL, this will impact ALL sectors!
Extending sectors with verified deals may result in power decrea

[2022-01-18 00:53] #6180 closed

[2022-01-18 00:59] Reiers commented on #6727
**Hi @s0nik42**

Thanks for the report.

Closing ticket, because this happen because of a out of sync node, and its not a bug.
My suggestion is that, you restart the miner _(when you are back in sync)_ - if you are in the same deadline it will try to send the message right away after it started up again.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions

[2022-01-18 00:59] #6727 closed

[2022-01-18 14:51] Reiers opened #7968 "(SnapDeals) Missing Replica Update Proof"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-18 16:55] jennijuju commented on #7968
the error is triggered in https://github.com/filecoin-project/lotus/blob/7dba12fc8186cc64ff1ad1e9123d240b959aeacc/extern/storage-sealing/states_replica_update.go#L66

which complains that the SectorInfo cannot find the proof replica that was suppose to be generated in  https://github.com/filecoin-project/lotus/blob/7dba12fc8186cc64ff1ad1e9123d240b959aeacc/extern/storage-sealing/states_replica_upda

[2022-01-18 17:06] jennijuju commented on #7968
action item for now:
- [ ] add a nil check for the proof after PR2
- [ ] add more info logs for indicating RU, PRU1 and PRU2 process starts

[2022-01-18 17:37] jennijuju commented on #7968
so we have two bugs here:

- first is in ffi https://github.com/filecoin-project/filecoin-ffi/blob/e660df5616e397b2d8ac316f45ddfa7a44637971/sector_update.go#L175 it errors out with  `failed to instantiate levelcache store`

-  second in sector fsm, PRU1 was failed and send the sector in to a `SectorProveReplicaUpdateFailed` state thats not properly handled (instead of retry/ abort, it's submitting

[2022-01-18 18:02] Reiers commented on #2238
Hi @chunqizhi

Thanks for the report. The issue is outdated.

Please upgrade Lotus.
Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

If this is an issue in current release, **please open a new ticket.**

[2022-01-18 18:02] #2238 closed

[2022-01-18 18:06] Reiers commented on #2785
Hi @whyrusleeping

Thanks for the report. The issue is outdated.

If this is a issue in current release, **please open a new ticket.**

[2022-01-18 18:06] #2785 closed

[2022-01-18 19:46] Reiers opened #7973 "(SnapDeals) Resource Table"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-18 20:35] arajasek opened #7974 "storageFindCmd needs to be updated with SnapDeals paths"
Need Update and UpdateCache

[2022-01-18 20:47] Reiers commented on #2224
**Hi @UltraVis**

Thanks for the report. Issue is outdated and is fixed in our latest release.

[code]

More about lotus-bench, [here. ](https://lotus.filecoin.io/docs/storage-providers/benchmarks/)

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-01-18 20:47] #2224 closed

[2022-01-18 23:56] arajasek commented on #7968
@jennijuju the second bug is actually much smaller, the 1-line fix is in #7976

[2022-01-19 11:53] dithpri opened #7978 "First parallel make invocation always fails"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-19 11:55] dithpri commented on #7978
Proposed fix:
[code]

[2022-01-19 12:04] #6644 closed

[2022-01-19 12:04] #6049 closed

[2022-01-19 12:04] #5090 closed

[2022-01-20 00:18] benjaminh83 commented on #7968
I can confirm I was able to reproduce this on my 512MiB butterfly miner t01029
[code]

[code]
I will provide @jennijuju with full debug logs in a new run tomorrow.

[2022-01-20 09:16] mur-me commented on #7092
Hi @jennijuju, I come with good news. We are using fresh `1.13.2` for one week on our nodes.
I think it helped with the block timing.
Nowadays, our seven nodes have a block timing of no more than **2 seconds.**
I believe you can close this issue.

![image](https://user-images.githubusercontent.com/7295623/150309178-18ef4798-032e-48cf-8db9-8f86c8fe4b2b.png)

[2022-01-20 12:43] benjaminh83 opened #7981 "PC1 Multicore SDR hwloc calculation bug on MILAN EPYCs (ZEN3)"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-20 13:22] benjaminh83 commented on #7981
[code]

[2022-01-20 13:43] vmx commented on #7981
Thanks for the very detailed bug report. I've opened a bug at rust-fil-proofs with more concrete information on what likely the issue is: https://github.com/filecoin-project/rust-fil-proofs/issues/1556.

[2022-01-20 18:47] RobQuistNL commented on #7868
It would be amazing if we could have a simple "round-robin" system implemented.. that would spread the load over machines evenly.

[2022-01-22 02:41] bruce20319 commented on #3412
I'm in the same situation
lotus-worker version 1.3.0

[2022-01-22 02:55] bruce20319 opened #7988 "lotus-worker version 1.13.0"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-22 12:44] RobQuistNL commented on #6130
just went to 1.1TB and broke my miner node.
Again

[2022-01-22 13:34] stuberman commented on #6130
Here are the cbor sizes on my machine - I have not touched them in many months

`ls -Alh /pool/storage/kvlog/metadata/*.cbor`

`ls -Alh /.lotus/kvlog/metadata/*.cbor`

`lotus-miner version`

**lotus-miner/config.toml**

[2022-01-22 13:48] RobQuistNL commented on #6130
Its usually normal. But sometimes _something_ happens and lotus goes haywire and stuffs that log with data, filling up my disk, breaking all other log files because of 0 diskspace.

[2022-01-23 00:17] Reiers commented on #7988
**Hi @bruce20319**

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-23 00:24] Reiers commented on #7981
Thanks for the report ! Looks like @vmx is already on the case.
**Added labels.**

[2022-01-23 00:25] Reiers commented on #7978
Hi @dithpri

Thanks for the report and the suggested solution.
I have added labels and will assign it to the right team for analysis.

[2022-01-23 00:26] Reiers commented on #7964
Hi @RobQuistNL

Thanks for the report. I have added labels and will assign it to the right team for analysis.

[2022-01-23 00:28] Reiers commented on #7963
**Hi @RobQuistNL**

Added labels and will forward it to the right team for analysis.
Thanks for taking the time to create all of these tickets !

[2022-01-24 07:58] shmilytsui opened #7992 "some wrong about "os error 2" of Lotus-miner"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-24 22:38] Reiers opened #7997 "(SnapDeals) Deals stays in the same state even if we `abortUpgrade`"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-25 04:22] lhpustc commented on #5302
Describe the bug
Cannot faucet FIL coin from https://faucet.calibration.fildev.network/

To Reproduce
Steps to reproduce the behavior:
1. Go 'https://faucet.calibration.fildev.network/'
    Input 't3szqfydn7j7u3ajwj4ys6eewr4plqb7vup2grxvvws3kbiqwkwvqdp42n4dxmusfggwq7swant7uhdsqxbiaq' in the 'destination address‘ and click the button [Send Funds]
2. Redirected to page 'https://faucet.calibration.fi

[2022-01-25 04:26] #7783 closed

[2022-01-25 15:41] versionCollector opened #8000 "Can't sync the lotus node"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-25 18:33] Reiers commented on #8000
**Hi @versionCollector**

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-01-26 10:29] masih opened #8004 "Generate index local to CAR payload instead of copying the payload and indexing centrally"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-01-29 02:38] supriya-premkumar commented on #7002
I am running into the same issue as well. Additionally, the sectors are still in the batching commit queue even after publishing.

[2022-01-29 09:40] Shekelme commented on #6644
Of course. 1.13.2 - and there is still 1 sector is stuck today.

[2022-01-30 03:52] Angelo-gh3990 opened #8009 "Paid transfer gets stuck v1.13.2"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-30 14:39] aueam opened #8010 "deal failed: (State=26) deal data verification failed: proposal CommP doesn't match calculated CommP"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-30 15:53] aueam commented on #8010
I tried downgrading the miner to `v1.13.1` and the problematic deal was successful. So I think the problem is in version `v1.13.2`.

[2022-01-30 19:44] Reiers opened #8011 "(SnapDeals) once a sector is marked for snap, new deals will be added to it even the sector is inactive"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-30 20:21] Reiers opened #8012 "(SnapDeals) snap-up deal files does not move to long term storage, stays in sealing path."
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-01-31 05:38] supriya-premkumar commented on #3315
I am running into the same issue.

[2022-01-31 18:33] arajasek commented on #7968
Fixed by updating proofs

[2022-01-31 18:33] #7968 closed

[2022-01-31 18:42] arajasek commented on #8011
There's a few aspects to this:

- we should not add deals to inactive sectors (perhaps based on startepoch)
- through the pipeline if we detect a sector is inactive we should...do something?
  - the correct answer is probably to finish any proof computation, then "pause" -- we can try submitting the message in 12 hours or so?
  - the simpler answer may just be to abort -- or add UX to indicate whi

[2022-01-31 18:47] arajasek commented on #8011
The scenario we are concerned about is:

- 200 sectors are marked to be snapped up
- they have deals added and are in the computation stage
- they go inactive due to a missed post
- they are now unproveable for the next 24 hours (though the correct proof can still be computed), but will keep retrying / hogging resources

The underlying problem is that the SubmitMessage stage shouldn't use any valu

[2022-01-31 18:48] arajasek commented on #8011
Let's say we'll at least do:

for 1.14.0

[2022-01-31 18:50] arajasek commented on #8011
#7905 might be relevant

[2022-01-31 18:51] arajasek commented on #7997
We should address this in 1.14.0 -- fine to just fail the deal for now, if the better version (trying to match the deal with a waiting / new sector) is harder

[2022-01-31 19:01] arajasek opened #8013 "nv15 migration perf, correctness testing, param finalization"
While the migration impl is complete and seems to work fast enough, we need to be very confident this works and works well. This means:

- Rerunning the migration again using lotus-shed with the latest RC
- Ensuring correctness and that it's fast enough
- Running the migration in "online" mode -- this basically means letting the premigration happen while the lotus daemon is syncing the chain, maki

[2022-01-31 19:06] arajasek commented on #8013
Additional ideas:

- Kill lotus at various stages (midway through premigration, between pre and migration, and midway through migration). ensure it isn't in bad state.

Note: When running repeated experiments, be sure that we are not getting false results because some of the objects are already in the blockstore.

[2022-02-01 05:26] jennijuju commented on #8011
@ZenGround0 suggested we might be over complicating things - he will prototype a PR to demonstrate the fix later and we can continue discussion there

[2022-02-01 10:35] willscott opened #8015 "API support for libp2p protection"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-02-02 17:17] supriya-premkumar commented on #3355
I am having the same issue with version 1.13.2

[2022-02-02 17:48] jennijuju commented on #8012
missing finalize

while implementing this might also consider the FinalizeEarly option mentioned in https://github.com/filecoin-project/lotus/issues/8011#issuecomment-1026095327

[2022-02-03 05:30] jennijuju commented on #7981
closing as it belongs to proof land and its in good hands. once its supported we will integrate in lotus

[2022-02-03 05:30] #7981 closed

[2022-02-04 16:45] kernelogic opened #8030 "Random "proposed provider collateral below minimum" error while deal making"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-04 17:14] mrihn opened #8031 "failed to connect to bootstrap peer on calibration network"
After loading all of the proof parameters, the lotus daemon fails to sync with the Calibration network.

[code]

I am using the latest version of lotus:
lotus version 1.15.0-dev+calibnet+git.d9c763437.dirty

[2022-02-07 09:28] randyortonx commented on #6308
Have you solved the problem?

[2022-02-07 09:29] randyortonx commented on #6659
Have you solved the problem?

[2022-02-07 10:10] vyzo commented on #6769
Long resyncs should be much better with #8008 which uses on-disk coldset and eliminates sorting.

[2022-02-07 10:20] vyzo opened #8037 "Splitstore: the road to production readiness"
The following three prs bring splitstore to beta readiness, where users should be encouraged to use it for non-critical infrastructure nodes:
- [ ] #8008 -- sortless compaction.
- [ ] #8029 -- cold object reification.
- [ ] #8034 -- set badger as the default markset type.

With these prs the splitstore is now code complete, with the exception of coldstore garbage collection (see below). As such, i

[2022-02-07 10:23] #7365 closed

[2022-02-07 16:15] mrihn commented on #8031
I rebuilt with Lotus v1.13.2 and got the same errors when trying to sync with the Calibration network:
[code]
[code]

[2022-02-07 19:37] ZenGround0 commented on #7997
Not sure but it looks like the ability to do this on the markets side doesn't quite exist yet as I've been having trouble getting desired behavior when failing regular deal sector commitments.  I'm going to focus on reassigning deals from failed sectors because it looks like a similar scope problem and gets us closer to where we want to be.

[2022-02-08 03:47] #7916 closed

[2022-02-08 03:47] jennijuju commented on #7916
resolved by https://github.com/filecoin-project/lotus/pull/8020

[2022-02-08 04:07] #3756 closed

[2022-02-08 04:08] #6421 closed

[2022-02-08 05:34] jennijuju opened #8040 "Fetch the latest params if it doesn't exists locally"
Mainly to resolve the case where the local params are wrong, in which they should be deleted and the right params should be downloaded

integrates https://github.com/filecoin-project/go-paramfetch/pull/22

[2022-02-08 05:39] jennijuju commented on #7997
some what related https://github.com/filecoin-project/go-fil-markets/issues/662

@nonsense we could use some of your insight here from a client / market implementation (boost) perspective:
- Currently, if sealing failed for the sector a deal is in, what's the storage deal status in that case?
- if it doesn't exist, what do you think the market side should show the user (client)? what information d

[2022-02-08 08:29] kuchaguangjie opened #8043 "unsupported actor: actor bafkqaetgnfwc6njpon2g64tbm5sw22lomvza is a version 5 actor; chain only supports actor version 6 at height 1 and nver 14"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-08 16:46] magik6k commented on #7888
done now?

[2022-02-08 17:40] arajasek commented on #7954
I've been annoyed by this myself, it makes it hard to debug stuff in actors. Unfortunately, I'm not sure how possible this is -- this is the logger that is provided to actors code, and I don't know of a way for it to log the LoC in actors that triggers it.

Maybe someone else knows?

[2022-02-08 17:44] arajasek commented on #7919
I agree with @jennijuju  here -- there is easy UX improvements that can be made to handle multisig owners better. We can definitely improve the output of `lotus-miner actor control list`, and maybe provide a better error for `lotus wallet sign`. We can also audit other `lotus-miner` UX commands to see if they work gracefully with multisig owners.

I'm not sure if that actually solves @SealStorage-

[2022-02-08 17:48] arajasek commented on #7520
Yes.

[2022-02-08 17:55] arajasek commented on #5227
Yeah, we should get around to this -- see the `lotus-miner stop` [command](https://github.com/filecoin-project/lotus/blob/e0522a6b1fa2a27e7347c3b16575f1d261a40652/cmd/lotus-miner/stop.go#L12-L27) for inspiration

[2022-02-08 17:56] arajasek commented on #7954
@Stebalien offers [this](https://github.com/ipfs/go-log/pull/132), thanks steb

[2022-02-09 03:29] oneforalone opened #8052 "Support for removing the assigned jobs"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-02-09 05:37] j1v commented on #3355
I'm also running into that with `1.13.2-rc4`

[2022-02-09 16:02] nonsense commented on #7997
At the moment Boost is handling this in a similar way as Lotus markets - a deal is sent to the sealer and then removed on Boost side. So Boost, same as Lotus markets, doesn't support retrying the deal on a new sector, as the data is no longer there.

---

I think we should as a first step we should handle this correctly, i.e. error the deal if the sector fails to seal.

As a second step I suggest

[2022-02-09 17:17] #7137 closed

[2022-02-09 17:40] #8012 closed

[2022-02-09 19:58] Reiers commented on #8052
**Hi @oneforalone**

First - I think you need to write a better pledge script or slow down the deals - because 9k jobs is way too much, for a data cluster of machine that can only handle 51 jobs !

Second, this is isn't a lotus issue - the issue is created by the user so I will transfer the ticket over to discussions for help and troubleshooting.

I do have environment if all things fail, shut dow

[2022-02-10 08:31] jennijuju opened #8056 "lotus miner/market - data transfer"

[2022-02-10 08:33] #8056 closed

[2022-02-10 08:48] #3790 closed

[2022-02-10 14:19] jennijuju commented on #8040
@arajasek confirm this can be closed by 8049?

[2022-02-10 14:19] #8040 closed

[2022-02-10 14:20] jennijuju commented on #8040
closed by #8049

[2022-02-10 18:20] arajasek opened #8059 "Integrate the ref-fvm into Lotus"
This will be closed when #8293 lands

[2022-02-10 18:27] arajasek opened #8060 "Allow for dual VM execution for getting the price list"
Build on top of #8059 to run every tipset through _both_ the Lotus VM and the ref-fvm. This should be relatively easy to do. We probably want to:

- use the Lotus VM for the "real" validation
- use the FVM-with-lotus-gas-costs and make sure it always results in the same state as the lotus VM
- Add fuel accounting with unlimited fuel to trace fuel/gas statistics for the FVM itself (for the M1 miles

[2022-02-10 18:47] arajasek opened #8061 "Epic: Implement FIP-0031"
- [x] #8062
- [x] #8063
- [x] #8064
- [x] (actors) bake the Miner actor CID into the Power actor CID, and the Paych, msig and miner actor CIDs into the init actor
- [x] #8065 -- we can no longer use it for things like actor CIDs (or method nums)?
- [x] #8066
- [x] #8164

[2022-02-10 18:49] arajasek opened #8062 "Add canonical actor CARs to the statestore"
These will be coming out of https://github.com/filecoin-project/ref-fvm/issues/22 and need to be made accessible to the FVM

[2022-02-10 18:54] arajasek opened #8063 "Support actor state accessors using canonical actor"
I'm not quite sure what the right thing to do here is. Although the _actual_ state objects aren't having their shapes changed, we currently use go-actors code for a bunch of getters (and the occasional setter for test things). We could:

- pull these getters into lotus as some "canonical actor state accessor" suite
- punt the problem: leave them in go-actors and use them -- this isn't _terrible_ b

[2022-02-10 18:55] arajasek opened #8064 "Add nv16 upgrade logic, switching to the FVM at the appropriate epoch"
Note that this means using the FVM _with_ its own gas accounting, as opposed to simply using the FVM to compute the same state as we'd get with Lotus VM

[2022-02-10 18:56] arajasek opened #8065 "Factor around the specs-actors `builtin` suite"
With the canonical actors being created, we need to move things like code CIDs and method nums somewhere else, and refactor lotus to use this new suite when creating messages etc.

[2022-02-10 18:58] arajasek opened #8066 "Add a migration that transforms dummy code CIDs to actual CIDs based on the actor code"
There's something of an open question about _where_this migration should go. I think it should just be in specs-actors -- the last thing that repo can do is transform the state tree to create the new version for the FVM-based future to use :)

[2022-02-10 20:05] jennijuju commented on #8011
closed by #8014

[2022-02-10 20:05] #8011 closed

[2022-02-10 20:06] jennijuju opened #8068 "Run ENT for OhSnap Migration"
As titled

[2022-02-10 20:11] jennijuju opened #8069 "1:N wdpost worker"
dependent on #7971

Redundant PoSt - compute the same PoSt on multiple workers, submit first valid result

[2022-02-10 20:22] jennijuju commented on #7839
@magik6k suggested maybe another thing we can do is, add a new configuration variable to say, if the base fee is below it, auto disable batching & aggregation.

[2022-02-10 20:27] jennijuju commented on #7763
might be somewhat related to #7938

[2022-02-10 20:36] jennijuju commented on #4596
The URLs should contain worker ID.

[2022-02-10 20:43] arajasek commented on #8061
[See FIPs #294](https://github.com/filecoin-project/FIPs/pull/294)

[2022-02-10 20:43] arajasek commented on #8062
We need to make super sure that the actor code never gets cleaned up by any GC / reachability analyser

[2022-02-10 23:04] jennijuju opened #8071 "[SHIPPED] v1.15.0"
# Lotus v1.15.0 Release

## 🚢 Estimated shipping date

<Date this release will ship on if everything goes to plan (week beginning...)>

2022-02-10: v1.15.0-rc1
~2022-03-04~ 2022-03-10: v1.15.00

## 🔦 Highlights

< top highlights for this release notes >

## ✅ Release Checklist

**Note for whomever is owning the release:** please capture notes as comments in this issue for anything you noticed that

[2022-02-11 04:05] Zboi04 commented on #5127
I just tried making my owner address a secp256k1-ledger as well, and I'm getting the same error as ohJohanZ. I'm surprised this issue has been open for this long.

[2022-02-11 15:59] Stebalien commented on #8063
We do need to keep old specs actors for old network versions, but for future state changes, we could:

1. Copy go struct definitions into lotus.
2. Define schemas for actors and codegen.
3. Define accessors as read-only methods actors.

I prefer option 3, but there could be some performance implications as that implies calling through the FVM. But that shouldn't matter too much here.

[2022-02-13 15:16] vishwabmc commented on #8031
We had some discussion on this and it looks like it may be due to the firewall not letting the incoming packets. We are going to try with firewall tweaks and update further.

[2022-02-14 08:59] alanmoleapfive opened #8085 "developer-network v13.2 ERROR miner miner/miner.go:287 mining block failed: failed to compute winning post proof"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-14 16:21] momack2 commented on #7597
@Reiers - is there an ETA on this fix? Hear this is still bothering folks on M1 macs...

[2022-02-14 18:04] #6726 closed

[2022-02-14 19:15] raulk opened #8091 "fake winning PoSt proofs _only_"
## Context

Lotus currently has a mode to fake out all proofs, but this includes window PoSt and other verification calls.

For FVM testing, we would like to run a fast testnet (block time: 5s instead of 30s) with 512MiB sectors. Based on evidence, the computation time for winning PoSt ranges betweek 9-14 seconds in the current butterflynet infra, which makes the 5s block time unfeasible.

For the

[2022-02-14 19:47] momack2 commented on #7597
Looks like there are install instructions for M1 chips here: https://lotus.filecoin.io/docs/set-up/install/#m1-based-cpus

[2022-02-14 20:20] magik6k commented on #8091
This is already done in debug testnets (`make debug`); achieved through setting `build.InsecurePoStValidation` https://github.com/filecoin-project/lotus/blob/master/build/params_debug.go#L7; All other proofs should be 'real'.

[2022-02-14 20:35] raulk commented on #8091
Fantastic, then we just need to expose it through an env var, @arajasek.

[2022-02-15 06:31] MichaelMalike opened #8094 "louts-bench failed in v1.14.0-rc7"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-15 06:36] MichaelMalike commented on #8094
OS: Ubuntu 20.04

[2022-02-15 06:38] rjan90 commented on #8094
Seeing the same issue here! When run without the snark-portion (Commit/WinningPoSt/WindowPoST) it works: `./lotus-bench sealing --sector-size=512MiB --skip-commit2=true `

[2022-02-15 11:18] smagdali opened #8095 "when trying to make deals, if a bad miner causes an Error, all subsequent deal attempts fail even with healthy miners, until cli is killed."
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-15 12:32] Reiers commented on #8094
Hi @MichaelMalike

Thanks for the report and taking the time to create the ticket. I get the same result here.
I have added labels and will assign it to the right team for analysis.

[2022-02-15 12:39] Reiers commented on #8095
Hi @smagdali

Thanks for the report. I have added correct labels.
I noticed that you running a old Lotus version (and the build is .dirty) there are a lot of improvements in the latest release.
Could you try to upgrade Lotus, and see if you are able to reproduce the issue?
I will leave it open and add to the board if the issue persist after the upgrade. Thanks !

Link to latest Lotus tags, [here.

[2022-02-15 15:27] smagdali opened #8100 "cli lotus client deal input validation crash"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-15 16:30] smagdali commented on #8095
Ah. Now I have to go and figure out where in the docs/tutorial I was following had the old link. (but will update and retest )

[2022-02-15 21:01] smagdali commented on #8095
Confirmed that this is still a bug with

 lotus --version
lotus version 1.15.0-rc1+mainnet+git.3031b4d98

[2022-02-15 23:31] smagdali commented on #8095
I tried to update the version field but it seems I don't have edit permission after the issue is filed

[2022-02-16 00:14] frrist commented on #8063
In Lily, we are exploring the possibility of creating an IPLD schema and generating the required methods from that: https://github.com/filecoin-project/lily/issues/859. Could this be considered as a 4th option? Unless that is what's meant by option 2?

[2022-02-16 01:19] Stebalien commented on #8063
That's what I meant by option 2. We'd actually like to attach said schemas to actor code itself. This would allow one to resolve:

actor -> actor code cid -> actor schema cid

[2022-02-16 14:47] ZenGround0 opened #8106 "abort-upgrade should have --really-do-it flag"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-16 16:35] TippyFlitsUK opened #8107 "Dagstore Migration Causes Invalid Characters In Log"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-16 19:24] jennijuju commented on #7888
update 3 prs again the upgrade should be on 10am

[2022-02-16 19:26] arajasek opened #8109 "Study migration perf on 32GB machines"
Peak memory consumption has been observed at 40 GB. Although most node operators have more than 32GB RAM, we should check to see if the migration:

- succeeds just fine
- OOMs the daemon
- goes horribly wrong????

on 32GB machines. If it's grotesque, we can look into optimizations if we wanna support this case.

[2022-02-16 20:27] Reiers opened #8110 "(SnapDeals) `lotus-worker info` is missing RU PRU2"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-16 21:45] arajasek commented on #8063
@jennijuju ordered me to let @frrist know that we'll be sticking with the go-actors accessors for now, which means no change for Lily.

While we're at it, can someone explain to me what an IPLD schema _means_ (and what it would look like in this context)? I don't really know what's being proposed. Maybe an example I can look at?

[2022-02-16 21:56] Reiers commented on #7419
### Thanks for the report. This is fixed in the latest release.

_Closing Lotus issue ticket for now._

If this is a issue in current release please open a new ticket. Thanks :)

[2022-02-16 21:56] #7419 closed

[2022-02-16 22:39] jennijuju commented on #8060
this is mostly for testing purpose (gas comparison) and the code should not land in master

[2022-02-16 22:44] arajasek opened #8113 "Support built in actor updates"
We should have the logic ready to upgrade the FVM in the event of a consensus-critical bug being discovered in the FVM after M1 goes live for mainnet.

Testing that out in a testnet would be good too.

[2022-02-16 22:47] arajasek opened #8114 "Support an FVM rollback"
In a similar vein to #8113, it might be good to prep the work needed to _revert_ the M1 upgrade's changes and return to using the Lotus VM. This would be used in the event that there are unsolvable issues with the FVM that emerge after M1 goes live on mainnet (say, idk, that block validation times become > 30s).

This is unfortunately harder to do than #8113 (we'd have to unmigrate) and almost def

[2022-02-16 22:57] arajasek commented on #8110
@Reiers should've been fixed by #8090 #8092 #8093

[2022-02-16 22:58] arajasek commented on #8013
Closed by #8108

[2022-02-16 22:58] #8013 closed

[2022-02-16 22:58] Stebalien commented on #8063
See https://ipld.io/docs/schemas/

It allows one to specify the logical structure of some IPLD datastructure, regardless of it's underlying representation.

For example, we could specify the Multisig state as follows:

[code]

We can use this to:

1. Generate go and/or rust code, in theory at least. In practice, we lack some tooling.
2. Generate an IPLD-based representation of this schema (so we c

[2022-02-16 22:59] jennijuju opened #8117 "LOTUS_DISABLE for ntwk v16"
add the flag if we have to rollabck the upgrade immediately after the upgrade since something is really wrong. this should only be used if we wanna rollback within  24 hours after the upgrade epoch, otherwise we should go for #8113  or #8114

[2022-02-16 23:03] jennijuju commented on #8117
(this is basically a time machine!

[2022-02-16 23:08] jennijuju opened #8118 "ntwk v16 Migration integration and testing"
- [ ]  Migration Integration
- [ ]  running the migration again using lotus-shed with the latest RC
- [ ]  Ensuring correctness and that it's fast enough
- [ ]  Running the migration in "online" mode -- this basically means letting the premigration happen while the lotus daemon is syncing the chain, making sure the time and memory usage are okay
- [ ]  Param finalization: based on time and memory

[2022-02-16 23:21] #8110 closed

[2022-02-16 23:25] frrist commented on #8063
With respect to lack of tooling: @mvdan pointed me at this https://github.com/ipld/go-ipld-adl-hamt/issues/17 (perhaps there is more here I'm not aware of) over in #ipld-chatter.

@Stebalien is this a pattern FVM is considering?

[2022-02-17 07:19] Elhorses opened #8124 "checksum mismatch in param file"
"checksum mismatch in param file" when I exe "lotus fetch-params <8MiB\512MiB\32GiB>", and my lotus version is: v1.14.0-rc6 or v1.14.0-rc7

[2022-02-17 09:14] ychiaoli18 commented on #6910
@magik6k could you elaborate on what you mean about the size flag?

[2022-02-17 09:18] jennijuju commented on #8124
missing logs and precise lotus version - https://github.com/filecoin-project/lotus/commit/9df19ae43683d0c47b46a6509fbfaea79fb8fd6c which was included in v1.14.0-rc7 should resolved this.

[2022-02-17 09:23] Elhorses commented on #8124
rc6: 1.14.0-rc6+calibnet+git.38605c9aa
rc7:  1.14.0-rc7+mainnet+git.7fd4c9617

missing logs:
ERROR: fetching proof parameters: checking file /var/tmp/filecoin-proof-parameters/v28-empty-sector-update-merkletree-poseidon_hasher-8-8-2-102e1444a7e9a97ebf1e3d6855dcc77e66c011ea66f936d9b2c508f87f2f83a7.vk failed: checksum mismatch in param file /var/tmp/filecoin-proof-parameters/v28-empty-sector-update-

[2022-02-17 14:04] masih opened #8129 "Markets process cannot connect to running daemon"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-17 15:28] momack2 commented on #8100
Permalink to code: https://github.com/filecoin-project/lotus/blob/ef65ddf351fffa4fa1d7d368f1b7b720ec70afbf/cli/client.go#L796

[2022-02-17 15:59] kuchaguangjie commented on #8043
I re-tried with tag `v1.13.2`, and it does work now, not sure how I get above error before, closing the issue.

[2022-02-17 15:59] #8043 closed

[2022-02-17 16:23] arajasek commented on #8109
Runs fine on my laptop, so I think we good

[2022-02-17 18:30] Elestrias opened #8133 "No ArgsUsage field for clientGetDealCmd"
https://github.com/filecoin-project/lotus/blob/72021b3221117980026f40c7efc2ac7239a6435f/cli/client.go#L1905-L1950
Greetings everyone, it seems to be a minor style inconsistency in your cli function declaration. The point is that your function uses positional argument usually called proposal-cid, however that argument wasn't described in ArgUsage field.

[2022-02-18 02:06] #7888 closed

[2022-02-18 08:52] benjaminh83 opened #8148 "Snap-up sector stalled in FinalizeReplicaUpdate, causing WindowPoST error and 100% loss of power in partition"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-18 13:34] Shekelme commented on #8030
I see this error too.

[2022-02-18 19:22] benjaminh83 commented on #8148
@ZenGround0 No problem. Its not always easy for us to get the details right, so it makes totally sense what we have been doing :) I will try to answer each of them here:

1. happening on a worker on a different server. My calib test system is 2 servers:
       SERVER1: EPYC, 256GiB mem, Tesla T4, 144TiB (Long Term Storage). Running: daemon, lotus-miner (monolith)
       SERVER2: EPYC, 256GiB mem,

[2022-02-18 21:27] arajasek commented on #8091
I don't think this needs to be an envvar, it's fine being a build level thing, I think.

[2022-02-18 21:27] #8091 closed

[2022-02-18 21:28] #4146 closed

[2022-02-18 21:28] #2616 closed

[2022-02-19 07:55] hxg8202 commented on #8094
2022-02-19T16:54:55.276 INFO bellperson::multiexp > GPU Multiexp kernel instantiated!
2022-02-19T16:54:55.581 INFO bellperson::groth16::prover > prover time: 350.659766ms
2022-02-19T16:54:55.582 INFO storage_proofs_core::compound_proof > snark_proof:finish
2022-02-19T16:54:55.582 INFO filecoin_proofs::api::window_post > generate_window_post:finish
2022-02-19T16:54:55.582 INFO filcrypto::proofs::ap

[2022-02-19 07:55] hxg8202 commented on #8094
lotus version 1.14.1+mainnet+git.d2dca7b21

[2022-02-19 10:04] narkissos commented on #8124
still not resolved in v1.14.1, roll back to 1.13

[2022-02-20 23:06] magik6k commented on #7929
#8104

[2022-02-20 23:06] #7929 closed

[2022-02-20 23:43] #8100 closed

[2022-02-20 23:43] #8095 closed

[2022-02-21 12:15] mrworkdev commented on #7868
Copy my message from Slack (https://filecoinproject.slack.com/archives/CEGN061C5/p1645442531813069) :

Hello all.
I am maintain 10+ identical setups, multi-server multi-worker with both
NFS shared storages (seal and store) for more then a year.
Last
months (maybe beginning from 1.11.0 or even earlier) I am facing with
random problems with miners task scheduling between PC2/C2 workers.
I am NOT usi

[2022-02-21 14:26] Stebalien commented on #6652
This means that sync/mpool will use the "correct" (old) gas prices. However, from what I can see, switching this to use the same gas prices as we do at execution _shouldn't_ cause the block to be rejected as that would have shown up as a "fine" on-chain.

[2022-02-21 23:32] Reiers commented on #7597
Sorry for the late reply @momack2

I will reproduce tmr - and see if it its fixed now. If not, I will ask.
Thanks for flagging!

The instructions in our Docs is correct - but due to macOS 12>, there have been some changes.
You have/had to go into a file a change kIOMasterPortDefault with kIOMainPortDefault for it to build correctly.
_(it was/is that way for both Intel and M1 chips)_

[2022-02-22 03:36] #8124 closed

[2022-02-22 03:44] jennijuju opened #8164 "create a tool to collect atomic switch to FVM and canonical actor perf"
As a part of the the testing phase, we'd like to collect metrics on how long this migration takens (on butterfly net, calibration, mainnet), physical state growth, IO workload and more.

[2022-02-22 08:52] alanmoleapfive opened #8166 "lotus-local-net release/v1.14.0 mult node add"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-22 09:27] alanmoleapfive commented on #8166
1. Import data to the node

# create a simple file
echo "Hi my name is $USER" > hello.txt
#Import Data
lotus client import ./hello.txt
Import 1645511212821164372, Root bafkqad2ineqg26janzqw2zjanfzsacq
# View all <Data CID>s of the current node
lotus client local
1645511212821164372: bafkqad2ineqg26janzqw2zjanfzsacq @/home/lotus/hello.txt (import)

2. Check the miner order price

lotus client query

[2022-02-22 10:39] magik6k opened #8170 "CI step printing dependency diff"
In dependency-updating PRs it would be really convenient to have a CI step which would print diffs of code in dependencies - so it's easy to see changes in deps.

This can be done with something like:
[code]

Just need to make this into a CircleCI step.

Example output comparing current `master` with `deps/update-libp2p`: https://gist.github.com/magik6k/c4013988d8230aadc1de1d9d4a9809b5

[2022-02-23 01:51] #5445 closed

[2022-02-23 12:02] Reiers opened #8176 "## Separate chainstore and statestore"
### Discussed in https://github.com/filecoin-project/lotus/discussions/7906 (Move to issues; @Reiers)

<div type='discussions-op-text'>

<sup>Originally posted by **strahe** January 10, 2022</sup>
I tried using a different store for chain store and state store but it doesn't work.

Are there plans to completely separate them? </div>

[2022-02-24 01:02] verynohair opened #8178 "An unknown error happened, caused the Phrase 2 sealing interrupt"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-24 12:11] llifezou commented on #7833
I didn't make any factual changes to the mining module, I just added some logs to give me more clarity on the running status

[2022-02-24 12:16] llifezou commented on #7833
The situation is as follows: two blocks are mined in a row, the first block contains one less parent block because my daemon is not completely synchronized, and then, my second block must contain My first block, which will cause me to lose the second block (the first block contains less of the parent block, it is invalid, but the second block has to contain this invalid block, otherwise Can't comm

[2022-02-24 12:17] llifezou commented on #7833
@jennijuju

[2022-02-24 19:17] jennijuju commented on #7946
closed by #8168

[2022-02-24 19:17] #7946 closed

[2022-02-24 19:18] jennijuju commented on #7863
closed by #8175

[2022-02-24 19:18] #7863 closed

[2022-02-25 03:43] llifezou commented on #7833
The relevant code is as follows:：

miner/miner.go

https://github.com/filecoin-project/lotus/blob/master/miner/miner.go#L328

[code]

chain/gen/slashfilter/slashfilter.go

https://github.com/filecoin-project/lotus/blob/master/chain/gen/slashfilter/slashfilter.go#L64

[code]

The scenario is as follows: I mine two blocks in a row,  the first block is finally rejected by the network due to the lack

[2022-02-25 04:12] llifezou commented on #7868
I'm trying to write a new scheduling mode to integrate into lotus as a plugin.

[2022-02-25 04:14] llifezou commented on #7868
https://github.com/filecoin-project/community/pull/465

[2022-02-25 14:33] Reiers commented on #8178
**Hi @verynohair**
Since theres no errors in the log provided, and Im not able to reproce the issue on a 1080 with the exact environment provided.  I will have to move this issue to Discussions for help and troubleshooting.

I will recommend to stay on the latest stable tag and not run master if this is production.
https://github.com/filecoin-project/lotus/releases/tag/v1.14.2

[2022-02-25 15:23] Kubuxu commented on #6652
#8163 is only a partial fix

[2022-02-25 22:30] Reiers commented on #2631
`lotus-miner info`
[code]
lotus version:
[code]

[2022-02-25 22:30] #2631 closed

[2022-02-27 06:32] mslovy opened #8198 "rust panic on Intel cpu when running windowpost"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-27 07:26] yoberry opened #8199 "can not sync node"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-02-28 19:54] Reiers commented on #8106
https://github.com/filecoin-project/lotus/releases/tag/v1.14.3

Fixed in this tag.

[2022-02-28 19:54] #8106 closed

[2022-03-01 09:04] wangyancun commented on #7763
## Describe the Bug
failed to load blockstore for piece baga6ea4seaqd4yfmzsdzozlpiafowmc6z6mh64wfl7tcney5rohvsabgviwc2mi: invalid header: malformed stream: invalid appearance of int token; expected start of map

**Please see my steps, 100% reproducible** @jennijuju @magik6k

## version：lotus-miner version 1.14.2+2k+git.6347daf84
## Logging Information
[code]

## miner log
[code]
## Repo Steps
- ru

[2022-03-01 16:42] jennijuju opened #8212 "Snapup Queue"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-03-01 17:54] Reiers opened #8214 "(SnapDeals) Wrong label for message. ERROR should be INFO."
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-01 17:55] Reiers commented on #8214
https://github.com/filecoin-project/lotus/pull/8213

Its going to be fixed by this ^

[2022-03-01 18:29] ZenGround0 commented on #8148
This should be fixed by #8177, please reopen if you encounter a similar problem

[2022-03-01 18:29] #8148 closed

[2022-03-01 18:51] #7442 closed

[2022-03-01 21:16] #8214 closed

[2022-03-01 22:54] TippyFlitsUK opened #8217 "GasEstimateMessageGas Error Snapping Up New Deal to CC Sector"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 01:27] tmyuu opened #8218 "Splitstore nodes crashed on the process of snap-deal"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 02:16] llifezou commented on #7833
If any data is needed, I'm willing to help

[2022-03-02 07:48] linhuatan opened #8220 "upgrade to lotus v1.14.2 failed"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 10:02] astudnev opened #8222 "Fail to build"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 12:41] #8217 closed

[2022-03-02 12:42] Reiers commented on #8222
Hi @astudnev

Sending you to Discussions for help and troubleshooting.

Thanks for the ticket!

[2022-03-02 12:44] Reiers commented on #8220
**Hi @linhuatan**

Like you stated, this is hard to reproduce. And all my nodes upgraded fine.

My suggestion is that you upgrade to the latest tag (1.14.3), download a snapshot and re-import the chain.
https://lotus.filecoin.io/docs/set-up/chain-management/

Thanks for the ticket !

[2022-03-02 12:44] #8220 closed

[2022-03-02 12:48] Reiers commented on #8199
Hi @yoberry

With no repro steps. My suggestion is that you re-import a snapshot and try to sync again.
Remember to upgrade your node to our latest tag (v1.14.3).

1.`aria2c -x5 https://fil-chain-snapshots-fallback.s3.amazonaws.com/mainnet/minimal_finality_stateroots_latest.car`
2.`lotus daemon --import-snapshot <the file you downloaded> --halt-after-import`
Wait until the process is done, and hal

[2022-03-02 12:54] #7733 closed

[2022-03-02 13:13] #6147 closed

[2022-03-02 15:14] Reiers opened #8225 "(SnapDeals) Sectors stuck in FinalizeReplicaUpdate"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 15:29] Reiers opened #8226 "(SnapDeals) Sector get stuck because it want to assign the miner for PR2 //SectorProveReplicaUpdateFailed"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 15:42] Reiers opened #8227 "(SnapDeals) Files are left behind on worker even if they have become Active."
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-02 15:53] Reiers commented on #8198
Hi @mslovy
This seems hw related and not a Lotus issue.
Im moving this to Discussions for help and troubleshooting.

[2022-03-02 16:41] scaseye commented on #8225
I was in the process of sealing 32 sectors, figured I would try to snap 2 sectors….

`lotus-miner version 1.14.1+mainnet+git.d2dca7b21`

[code]

[code]

I obviously did not extend the sectors properly prior to the snap-up command… what caused me to panic was that my entire queue of verified deals was now blocked.  New deals were being imported, but then got stuck in Staged state.  My panic caused

[2022-03-02 17:08] ZenGround0 opened #8230 "Snap Deals full unseal"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-02 17:29] ZenGround0 opened #8231 "Snap Deals big pipe for onboarding"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-03-02 18:55] TippyFlitsUK commented on #8227
Also seeing the same issue on f08403.

All snap-up deals have completed and are either proving or waiting at `UpdateActivating`.

[code]
[code]
[code]
[code]
[code]

[2022-03-02 19:49] jennijuju commented on #8231
DUPLICATED WITH #8212

[2022-03-02 19:57] #3626 closed

[2022-03-02 20:12] ZenGround0 commented on #8227
Nice observation: the big sealing file + duplicate should both go away after ReleaseSectorKey state so this problem is much more temporary than if the sealed files stayed forever.

However this is still not great.  From @magik6k we need to implement RemoveCopies method on remote worker and call it during finalize to get the correct behavior.  There are some existing problems with the `primary` con

[2022-03-02 23:47] tmyuu commented on #8218
It seems like a memory issue.
Today I missed the WindowPoSt due to out of sync with daemon...

[2022-03-02 23:48] #8218 closed

[2022-03-03 05:09] SBudo opened #8237 "Snap Deal - WinningPoSt Warmup failure on snap-up sector"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-03 05:31] SBudo commented on #8237
When starting the miner, it looks through the sealed, unsealed and cache folders to see if the sector files have moved and re-assign the storage.
It doesn't seem to be doing this for the "update"  and "update-cache" folders.
Since the "old" sealed sector is removed from the "sealed" folder after the sector is changed to "Proving" state, the sealed sector is no longer found when the miner is restar

[2022-03-03 08:26] j1v opened #8238 "ReplicaUpdateFailed / invalid replica update"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-03 09:02] j1v commented on #8238
there is more info in this thread : https://filecoinproject.slack.com/archives/CPFTWMY7N/p1646292640209809

Meanwhile , in order to prevent logs from growing I have aborted the upgrade as advised :

`~$ lotus-miner sectors update-state --really-do-it=true 977 AbortUpgrade`

[2022-03-03 09:55] rjan90 commented on #8238
Adding the logs @j1v posted on Slack for the AbortUpgrade-command here as well. The sector is in proving state in his `lotus-miner sectors list`, but the logs shows an error when issuing the `Abort-Upgrade` command.
[code]

[2022-03-03 15:29] jennijuju commented on #8238
@j1v Do you still have the miner logs, especially the ones around FFI - rust logs?

[2022-03-03 15:30] jennijuju commented on #8238
this also makes me feel like we should not do inifinite retry and let user detect it and manullay abort upgrade..

[2022-03-03 15:33] j1v commented on #8238
[code]

[2022-03-03 16:50] #8015 closed

[2022-03-04 02:16] junyaoren opened #8244 "Sector with successful ProveCommit message is NOT really active"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-04 12:52] Reiers commented on #8225
Tested and Confirmed.
This issue is fixed in the latest release of lotus:
https://github.com/filecoin-project/lotus/releases/tag/v1.14.4
Closing issue ticket.

[2022-03-04 12:57] Reiers commented on #3614
Hi @benjaminh83

Thanks for the report. This is should be fixed in the latest release.

https://github.com/filecoin-project/lotus/releases/tag/v1.14.4

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [[Discussions forum.](https://github.com/filecoin-project/lotus/discussions)](https://github.com/filecoin-project/lotus/discussions)

[2022-03-04 13:16] benjaminh83 commented on #8225
Nah, not in my case. I'm running:
[code]
And got those two sectors stuck in `FinalizeReplicaUpdate` and still getting slashed.

So I have tried changing states and removing the sectors. And YES it does not say `ERROR: normal shutdown of state machine` anymore. But on the other hand - it did not do a thing to the sectors 👎

[code]

And still:
[code]

Or we can go:
[code]
So bottom line - I still ha

[2022-03-04 13:19] benjaminh83 commented on #3614
nope. Didn't fix it.

I put my comments in your issue: https://github.com/filecoin-project/lotus/issues/8225#issuecomment-1059153380

[2022-03-04 13:23] Reiers commented on #8225
All my `FinalizeReplicaUpdate` reverted back to to a fail state or succeeded here.
Do you still have the files for those sectors, or did you manually deleted them? @benjaminh83

[2022-03-04 13:32] Reiers commented on #8225
`lotus-miner sectors update-state --really-do-it 5 AbortUpgrade`

-

`lotus-miner sectors abort-upgrade --really-do-it 5` is the correct way. _I know the Docs are wrong._

What happen if you entered:
`lotus-miner sectors remove --really-do-it 3`
-or
`lotus-miner sectors expired --remove-expired`

Also if you have deleted the files, can you try making the files again - with touch (create ghost sect

[2022-03-04 13:41] benjaminh83 commented on #8225
Yes, sector files was manually deleted to ensure passing WindowPoST. With partially files in the folders, it crashed the WindowPoST.

lotus-miner is not responding to the suggested commands:

[code]

And still same state:
[code]

But hey:
[code]
And I got an entry in the miner logs:
[code]

But still:
[code]

[2022-03-04 14:24] benjaminh83 commented on #8225
Seems like @Reiers classic trick of creating fake sector files did the trick.

Its now responding to termination requests, so lets see if this gets cleaned up now 👍

[code]

[2022-03-04 14:40] mrihn opened #8246 "Creating a local network with multiple miner nodes"
This is not a bug or feature request. Just a general question:
How does one add a second lotus-miner node to an existing local network?

I followed the instructions for setting up a local network here:
https://lotus.filecoin.io/docs/developers/local-network/

I am able to start up the lotus daemon and lotus-miner node without any errors, but it is not clear to me how to add a new miner node once t

[2022-03-04 15:58] Reiers commented on #3614
Moving the conversation to the new issue ticket.
Closing this one.

[2022-03-04 15:58] #3614 closed

[2022-03-04 17:04] Reiers commented on #8225
So after further testing - update-state,terminate, remove works and no longer ends with: `ERROR: normal shutdown of state machine`.

It does not revive old stuck sectors that missing the files(removed manually) - so you will need to:

[code]
^ USE ONLY ON STUCK/Zombie SECTORS!

From now on, if you are on `v1.14.4` or later you should not run into this issue again.

I will open a new ticket if I se

[2022-03-07 01:22] jennijuju opened #8250 "Enable index provider"
Just a reminder for creating a pr to Enable the index provider by default upon v1.15.1

[2022-03-07 02:01] FreeBoys opened #8251 "What will happen if my computing power is lost for several days?"
What will happen if my computing power is lost for several days?

[2022-03-07 16:29] Reiers commented on #8251
Moving to Discussions.

[2022-03-07 18:21] jennijuju commented on #8009
this should be resolved by #7883 , which will be included in v1.15.1

[2022-03-07 18:47] jennijuju commented on #8212
duplicated with #8231

[2022-03-07 18:47] #8212 closed

[2022-03-07 18:49] jennijuju commented on #8227
this is staying in work even after the update activating -> proving, bump the priority.,

[2022-03-07 20:09] ZenGround0 opened #8257 "lotus-miner storage find should be aware of updated replica files"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-07 20:14] ZenGround0 commented on #8244
An ok return value is not be the gold standard for successful ProveCommit.   As this issue describes ProveCommit is not actually running the proof but queuing the proof to run at the end of the epoch.  There some or all of the submitted poreps may fail and trigger a log.  It's impossible to know until the verification runs whether the proof is good or not.

Workarounds today
1. Use ProveCommitAggr

[2022-03-07 21:06] ZenGround0 commented on #8237
I don't know exactly why this is happening but the problem is that when your miner checks the chain for this sector info it is seeing a nil SectorKeyCid.  This either means your miner hasn't caught up to the chain or that your snap deal message failed but your miner's sealer didn't catch it.

[2022-03-07 21:45] ZenGround0 commented on #8237
@SBudo do you recall if sector 1 had just recently moved to the Proving state from the UpdateActivating state when this error appeared?  Also do you know if your chain was up to date?

Could you gather the sector on chain info for this sector and post it in the comments here so we can see what the current sector key is?  Also is this error reproducible when restarting the miner at this point in ti

[2022-03-08 00:22] filecoinprince commented on #4741
I have got the same result, how can I get it fix?  Please advise.  And also, if I am using internal network, how can I set the remote listen address?

[2022-03-08 02:07] junyaoren commented on #8244
For the workaround-1, most storage providers might not prefer to use it, since it might significantly increase the fees(gas fee and batch cost) especially when the base fee is low.

For the workaround-2, do you think it would be possible to add a new transition on the sector's FSM so that it got a chance to redo the PORep when the sector finds itself failing the verification?

[2022-03-08 05:05] futuremaster777 opened #8258 "SNAP DEAL ERROR - Remote worker / Remore Storage (NFS)"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-08 07:01] alanmoleapfive opened #8259 "2k devtest not save file and get it"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-08 12:09] SBudo commented on #8237
Is there a way to change the WinningPoSt warmup to another sector for testing?
I've only done 5 sector snap up so far (stopped after this issue popped up), so maybe I could try to get the warmup on the other sectors to see if there is a general problem or if it's just on sector 1...

[2022-03-08 12:24] Reiers commented on #7798
Hi @narkissos

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-03-08 12:24] #7798 closed

[2022-03-08 12:26] Reiers commented on #3354
**Hi @RobQuistNL**

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

[code]

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-03-08 12:26] #3354 closed

[2022-03-08 12:28] Reiers commented on #3658
Hi @Meatball13

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

[code]

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-03-08 12:28] #3658 closed

[2022-03-08 12:31] Reiers commented on #3956
Hi @alison-man

Just edit it back to a correct state:
`lotus-miner sectors update-state --really-do-it <sectornumb> <correctstate>`

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-03-08 12:31] #3956 closed

[2022-03-08 12:44] Reiers commented on #3451
**Hi @RobQuistNL**

Thanks for the report. This is fixed in the latest release.
Please upgrade Lotus.

Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

[code]

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-03-08 12:44] #3451 closed

[2022-03-08 14:29] Reiers commented on #8259
Hi @alanmoleapfive

Moving to Discussions for help and troubleshooting!

Thanks for taking the time to create this ticket, but your issue lies elsewhere.

[2022-03-08 15:32] gmelodie opened #8261 "More descriptive error message for when FULLNODE_API_INFO not set"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-08 15:50] jennijuju commented on #8261
lolol @gmelodie wanna shot a PR ? 😉

[2022-03-08 19:38] ZenGround0 commented on #8244
I think that's a great idea.  Instead of listening on the logs the FSM could check state to see if all sector numbers are live in the miner actor.  Would you mind closing this down and filing a new issue?

[2022-03-08 21:21] jennijuju commented on #8066
migration of the v7 -> v8 CID https://github.com/filecoin-project/specs-actors/pull/1576

as a part of the https://github.com/filecoin-project/builtin-actors/issues/4 we will get the new CID into the migration

[2022-03-08 21:23] jennijuju commented on #8060
We are uncertain this is necessary for the new gas model work scope. will confirm.

[2022-03-08 21:24] jennijuju commented on #8117
should resolved by #8209

[2022-03-08 21:29] #8164 closed

[2022-03-08 21:33] jennijuju commented on #8113
Rescope this issue to how to update the built in actor safely. (assuming that in FVM we will have network guards )

[2022-03-08 21:35] jennijuju commented on #8113
If things really are borked after the network v16 upgrade, we might want to consider upgrade the network to use the lotus vm with the latest stable actor (v7 like)

[2022-03-08 21:39] jennijuju commented on #8065
We will just use the go actor from the time being, and will refactor the code we are more into the built-in actor

[2022-03-08 21:43] jennijuju commented on #8063
The discussion about the schema is good. however, we have decided to use spec actor for now and then - maybe consider this in the future (meaning, not happening in network v16 FVM M1)

[2022-03-08 21:46] jennijuju commented on #6652
Yushi suspect the problem should go away when we switch to FVM completely. Revisit if this is still needed for ntwk v16 , or close after the M1 upgrade

[2022-03-08 21:54] walkerlj0 commented on #7597
Tried installing this on Tue Mar 1 and still had to make the following changes:

`cd /Users/lindsayjowalker/Library/Caches/Homebrew/go_mod_cache/pkg/mod/github.com/zondax/hid@v0.9.0/hidapi/mac

sudo vim hid.c'

Found that file and still had to change kIOMaster to kIOMain on (I believe) was line 693)

[2022-03-08 22:11] Reiers commented on #5772
Hi @xinaxu

Thanks for the report. The issue is outdated, and Im not able to reproduce.

The cmd for removing a sector is:
`lotus-miner sectors remove --really-do-it <sectornumb>
`
`update-state` works as expected in the latest release [v1.14.4](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4).

If this is a issue in current release - please open a new ticket.
Thank you !

[2022-03-08 22:11] #5772 closed

[2022-03-08 22:19] ZenGround0 commented on #8237
I looked into it and its not configurable, you'll need to change the code as your are talking about to test it on other sectors.

But good news thanks to your help I found the bug.  We just weren't passing in all the right data to the warmup routine so any snap deals sector would have caused failure.  This had not impact on live winning or window post.  We didn't catch it because we hadn't yet run

[2022-03-08 22:26] Reiers commented on #3794
Hi @Reisen

Thanks for the issue ticket. The issue is outdated, and Im not able to reproduce the issue on the latest tag.
If this is a issue in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) please open a new ticket - we do have an open ticket for something similar here: https://github.com/filecoin-project/lotus/issues/7868, but its not exactly the same.
Closing

[2022-03-08 22:26] #3794 closed

[2022-03-08 22:32] arajasek opened #8263 "FVM: Investigate a receipt mismatch at epoch 1497990 +/-1"
Reported by Steb. While mismatches themselves are not M1 blockers, we need to understand what is wrong here, since it could indicate a bug in the FVM.

[2022-03-08 22:33] arajasek commented on #8263
After this, we should kick off another consensus check from the Chocolate upgrade all the way up to "latest".

[2022-03-08 22:36] #2393 closed

[2022-03-08 22:40] SBudo commented on #8237
phew! That's great news!!!
I was just about to reply that I recreated the scenario on my Calibnet setup, so was worried about live WinningPoSt.
I'll test it there first, then will apply it to live and report back.

Thanks again!

[2022-03-08 22:41] Reiers commented on #3376
Hi @i5heu

Thanks for the report. The issue is outdated.

If this is a issue in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new ticket.

Thank you !

[2022-03-08 22:50] Reiers commented on #6545
Hi @benjaminh83

Thanks for the report. This is fixed in the latest release.
Im not able to reproduce the issue here on [v1.14.4. ](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4)
I let my workers take on too much, ended up with 3 x `CommitFinalizeFailed`, lotus does retry until it finishes - without restarts or `update-state`.

Closing ticket for now, please let me know if you enc

[2022-03-08 22:50] #6545 closed

[2022-03-08 22:57] Reiers commented on #4520
Hi @xuhanyu-love

Thanks for the report. The issue is outdated, and I think the issue is in your own cluster.

You let the sealing path or worker to get too full to send long term storage (storage path)
- You need at least some free space(~30Gb) in your sealing path for it Finalize->Proving properly.

If you encounter the issue in current release - please ask for help in our [Discussions forum.](h

[2022-03-08 23:26] SBudo commented on #8237
Works on my Calibnet miner.

Post update logs:
[code]

I'll try it on mainnet later today

[2022-03-08 23:52] Reiers commented on #7212
Hi @funktafide

Thanks for the report. This is fixed in the latest release, and Im not able to reproduce the issue here:

[code]
All the commands above are working as expected.

Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

Closing ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoi

[2022-03-08 23:52] #7212 closed

[2022-03-09 00:01] Reiers commented on #6790
https://lotus.filecoin.io/docs/set-up/chain-management/

If you are still experiencing problems - ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

Closing lotus issue ticket.

[2022-03-09 00:01] #6790 closed

[2022-03-09 00:08] Reiers commented on #6794
Closing issue, because it didnt find any issues in your logs, DeclareFaultsRecovered messages was sent out.

Also the Storage Provider is no longer active: https://filfox.info/en/address/f0713585

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

Thank you !

[2022-03-09 00:08] #6794 closed

[2022-03-09 00:12] Reiers commented on #6461
@j1v Hi

This one is hard for me to reproduce - are you still having this issue, or did you find a solution?
Thanks.

[2022-03-09 04:01] #8237 closed

[2022-03-09 04:54] SBudo commented on #8237
Interesting that, in the case of a real WinningPoSt for a non upgrade sector, the SectorKey is <nil>, while the SectorKey for the an upgrade sector is now showing a value:

(sector 1 is an upgrade CC sector with a deal, while sector 16 is a cc)
[code]

[2022-03-09 06:37] junyaoren commented on #8244
Sure, I will close this issue. And shall I file a new enhancement issue?

[2022-03-09 07:49] Not-is-True opened #8264 "新版本升级后导致Miner在证明过程中内存被拉满"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-09 10:21] adwulfran opened #8268 "Lotus run dozens of process and use 100% CPU. How to fully uninstall it ?"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-09 10:48] SBudo commented on #8237
Works on mainnet!
Thank you!

[2022-03-09 11:14] Reiers commented on #8268
Hi @adwulfran

Seems like something went wrong somewhere - Im moving this from Lotus issues to Discussions for help and troubleshooting. Since this clearly a user error and not a lotus issue.

If its running in the background you might have started lotus as a service, then the cmd is:
`systemctl stop lotus-daemon`

Regular stop:
`lotus daemon stop
`
`lotus-miner stop`

- Quick google search and yo

[2022-03-09 11:29] llifezou commented on #8264
No encounter, everything is normal, is there an error log?

[2022-03-09 12:17] Reiers commented on #8264
Hi @Not-is-True

Thanks for the issue ticket.
I have not seen any reports of this on latest tag.

- What lotus version are you on?
- Could you share some logs?
- Just so its clear it is the lotus-miner you are seeing having memory leaks? and not daemon?

Thank you !

[2022-03-09 12:35] Reiers commented on #2729
**Hi @ytQiao**

Thanks for the report. The issue is outdated, and the cmd works as expected in the latest release.

Example ( I have removed some information, but it should show up correctly when you enter the cmd on your system)

**`lotus-miner sealing workers
`**
[code]

`lotus-miner storage list
`
[code]
If this is a issue in current release - please open a new ticket.

Thanks again !

[2022-03-09 12:35] #2729 closed

[2022-03-09 13:12] Reiers commented on #3412
Hi @danny-wu

Thanks for the report. The issue is outdated, and Im not able to reproduce it here.
If this is a issue in the [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new ticket.

Thank you !

[2022-03-09 13:12] #3412 closed

[2022-03-09 13:23] Reiers commented on #3231
Hi @jimpick

Thanks for the report. The issue is outdated - keep track of chain size and prune if needed.
https://lotus.filecoin.io/docs/set-up/chain-management/

Its easier to get out of this state - on the [latest release. ](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4)

Ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions) or open a ne

[2022-03-09 13:23] #3231 closed

[2022-03-09 13:35] Reiers commented on #3607
Hi @jack815943555

Thanks for the report. The issue is outdated, and no more information was provided.

Closing lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

[2022-03-09 13:35] #3607 closed

[2022-03-09 13:35] jack815943555 commented on #3607
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-03-09 13:40] Reiers commented on #3574
Hi @XIAOYAOSHUJU

Not a lot to go on here - the issue is outdated, and there no repro steps for me to do.

Please read this:
https://lotus.filecoin.io/docs/developers/store-data/

and if you are still experiencing problems, open a new ticket with more information or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

Thanks!

[2022-03-09 13:40] #3574 closed

[2022-03-09 14:26] Reiers commented on #6080
Hi @sherviniv

Take a look at this:
https://lotus.filecoin.io/docs/storage-providers/seal-workers/#sector-storage-groups

I think that will solve the issue you are encountering.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

Thanks for the issue ticket!

[2022-03-09 14:26] #6080 closed

[2022-03-09 15:55] seantw1974 opened #8270 "One sector vanilla_proof fault(Due to Physical HD error) cause all partition fauls, that's not right thing !!! (vanilla_proof)"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-09 16:55] raulk commented on #8059
@arajasek can we turn the bullet list into a checklist and mark everything that's done? I suspect that landing in master is the only thing missing?

[2022-03-09 17:39] jennijuju opened #8271 "Analyze migrate away from non-utf8 DealProposal Labels"
https://github.com/filecoin-project/builtin-actors/issues/69
analyze the lotus & market API changes

[2022-03-09 17:43] jennijuju commented on #8271
This currently is out of the ntwk v16 scope, but its possible that we need to consider this cuz proper IPLD and cbor usage in builtin actor

[2022-03-09 18:44] Reiers commented on #8270
@seantw1974 Hi

First glance - This looks like its hardware related and not a Lotus (software) issue.
There are no logs here, and nothing for us to reproduce.

So I will move it to our [Discussions](https://github.com/filecoin-project/lotus/discussions) for help and troubleshooting.

If we find out that is something wrong in code itself then I will move it back to issues.

[2022-03-09 19:09] frrist commented on #8063
Will there be a new version of specs-actors (i.e. v8) for network v16?

[2022-03-09 19:21] Reiers commented on #3356
Thanks for the report. The issue is outdated.
If the startEpoch has passed it will try to seal the sector and fail 3 times, before automatically be removed.

If you encounter this issue in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new ticket. Thank you !

[2022-03-09 19:21] #3356 closed

[2022-03-09 19:26] Reiers commented on #3807
Hi @815943555

Thanks for the report. The issue is outdated, and there is not enough information to go on for troubleshooting or reproduce the error.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussions)

Thank you.

[2022-03-09 19:26] #3807 closed

[2022-03-09 19:38] Reiers commented on #3700
**Hi @jack815943555**

Thanks for the report. The issue is outdated.

If this is a issue in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new ticket.

[2022-03-09 19:38] #3700 closed

[2022-03-09 19:43] Reiers commented on #3693
Hi @EntropyPool

Thanks for the report. The issue is outdated, and this behavior is expected.
Remember to have enough FIL in all control addresses, before dealmaking or sectors pledge.
https://lotus.filecoin.io/docs/storage-providers/addresses/

[2022-03-09 19:43] #3693 closed

[2022-03-09 19:49] Reiers commented on #3594
Hi @IPFS-grandhelmsman

Thanks for the report. The issue is outdated.

If this is a issue in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new ticket.

Thanks again !

[2022-03-09 19:49] #3594 closed

[2022-03-09 19:50] Reiers commented on #3660
Hi @waynewyang

Thanks for the report. The issue is outdated.

If this is a issue in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) please open a new ticket.

Thanks again !

[2022-03-09 19:50] #3660 closed

[2022-03-09 19:55] Reiers commented on #3398
Hi @hengic

Thanks for the report. This is should be fixed in the latest release, and Im not able to reproduce here.
Please upgrade Lotus.

Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

Closing Lotus issue ticket.

If you are still experiencing problems, open a new ticket or ask for help in our [Discussions forum.](https://github.com/filecoin-project/lotus/discussion

[2022-03-09 19:55] #3398 closed

[2022-03-09 20:09] jennijuju opened #8275 "nv15 FVM canary tag; 1.15.0-fvm-01"
as titled

[2022-03-10 02:08] Not-is-True commented on #8264
hi@

[2022-03-10 02:12] Not-is-True commented on #8264
hi
I am using version [v1.14.2]，The previous memory was 128G, and the latter was added to 512G, but it still reported an error: insufficient memory，
See the screenshot below for the specific log
![a83e9be12b643723ffdc46364285b0d](https://user-images.githubusercontent.com/88710575/157574629-22bf3473-4629-47a0-be58-1ee6579b0f53.jpg)

[2022-03-10 02:14] Not-is-True commented on #8264
The error is oom-kill.......，
The error is oom-kill, but it was ok when the task was not issued before. I don't know if it is a problem of task scheduling or if it is a memory-consuming stage after the upgrade

[2022-03-10 02:27] jennijuju commented on #8271
EOMarch 9th:
- in actor, we will have a label struct that supports both string and bytes. Then we shall expand the cbor support so it understands both string and bytes during signature validation and such, then store everything on chain in bytes (convert string to label)
 - there will be a state migration over all clientdealproposal (PSD)
- In lotus we may keep the top level API signature the same

[2022-03-10 06:22] spark8899 opened #8280 "lotus-shed miner-multisig add change-worker command"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-10 11:42] ribasushi commented on #8271
that's inaccurate: there can be only one ( type-wise )

The point is that rust-land *really* wants this to be `byte`, yet all our public facing APIs have `string`.

The rest is 👌

[2022-03-10 12:42] Reiers opened #8286 "(wdPost) One sector `vanilla_proof fault` causes all the whole partition to fail."
### Discussed in https://github.com/filecoin-project/lotus/discussions/8274

<div type='discussions-op-text'>

<sup>Originally posted by **seantw1974** March  9, 2022, edited by: @Reiers </sup>
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not

[2022-03-10 13:22] magik6k commented on #8286
This should get fixed after https://github.com/filecoin-project/lotus/pull/7971 lands

[2022-03-10 14:10] jennijuju commented on #8271
@magik6k if the label becomes a byte array - what's the impact / how much changes will be needed for retrieval, in lotus & in gfm?

[2022-03-10 14:28] nonsense opened #8288 "lotus-miner not respecting MaxWaitDealsSectors and MaxSealingSectors"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-10 17:03] Reiers commented on #2486
The issue is outdated, and stale.
If you encounter this on butterfly/calibration in the [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new issue ticket and **keep the logs.**
Thank you.

[2022-03-10 17:09] #3407 closed

[2022-03-10 17:14] Reiers commented on #3390
Hi @damonhung

Thanks for the report. The issue is outdated, and I have not seen reports of this recently.

For the stuck sector:
`lotus-miner sectors update-state --really-do-it <sectornumb> Packing
`
If the files are there, it should start up again.

If you encounter this issue in the [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new ticket. Th

[2022-03-10 17:14] #3390 closed

[2022-03-10 17:29] Reiers commented on #3921
Hi @FilaMiner

Thanks for the report. The issue is outdated, and its hard find out what happen here, without the proper logs.
If you encounter issue again in [current release](https://github.com/filecoin-project/lotus/releases/tag/v1.14.4) - please open a new issue ticket and save the logs and we will take another look at it.

Thanks again !

[2022-03-10 17:29] #3921 closed

[2022-03-10 17:39] jzmexec commented on #8264
@Not-is-True @Reiers hi, i got this problem in v1.14.2 ,What shall I do ? And, I guess , it is a problem in task scheduling

[2022-03-10 19:56] jennijuju opened #8292 "Update the contribution guideline"
main focus: having meaningful commit message
enforce pr template

[2022-03-10 20:08] jennijuju commented on #8257
duplicated with #7974

[2022-03-10 20:08] #8257 closed

[2022-03-10 21:44] #8107 closed

[2022-03-10 22:22] #5138 closed

[2022-03-11 10:49] llifezou commented on #8226
`WARN	sectors	storage-sealing/fsm.go:733	sector 20782 got error event sealing.SectorProveReplicaUpdateFailed: prove replica update (1) failed: storage call error 0: allocate local sector for fetching: couldn't find a suitable path for a sector `

[2022-03-11 11:08] sherviniv commented on #6080
@Reiers Yep, That's all was needed, Thanks

[2022-03-11 12:13] Anonyma commented on #7803
We are coming across this issue too on v1.14.1

[2022-03-11 12:14] Anonyma commented on #7803
We have come across this issue too on v1.14.1

[2022-03-11 13:25] Shaikjani1994 commented on #2216
still not working

[2022-03-11 13:26] Shaikjani1994 commented on #2216
tell me a library for failcoin api  npm which works properly

[2022-03-11 17:55] arajasek commented on #6652
Summary from a sync with @Stebalien and @jennijuju today:

- The FVM will _largely_ resolve at M1, since it only has the one price list anyway (and when multiple price lists are introduced, it will definitely be indexed by network version)
- The FVM obviously does not resolve the inconvenience at historical epochs like the Calico upgrade
- Even with the FVM (M1), there is still, albeit unlikely, r

[2022-03-11 18:25] raulk opened #8300 "fvm: add CI target that runs FVM test vectors against the FVM within Lotus"
Vectors: https://github.com/filecoin-project/fvm-test-vectors

[2022-03-11 18:30] orkowizard opened #8301 "lotus-miner backup file.cbor files with message "LOTUS_BACKUP_BASE_PATH env var not set""
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-11 20:59] Reiers commented on #8301
**Hi @orkowizard**

Just tested it on my Storage Provider (miner) it works as expected here, so not an issue.

This environment should be set in the same terminal, that run the lotus-miner:
[code]
then in other terminal:
`lotus-miner backup /root/lotus-backups/backup.cbor
`

From my testing:
[code]

Miner log:
`2022-03-11T21:55:52.583+0100	INFO	backupds	backupds/datastore.go:130	Datastore backup d

[2022-03-11 20:59] #8301 closed

[2022-03-11 21:35] Reiers commented on #3355
Update:

Log:
[code]
Cmd entered:
`lotus-miner sectors update-state --really-do-it 48025 PreCommit1
`
Log result:
[code]

Sector --log:
this was in matter of seconds - look at all the events.
[code]

[2022-03-12 11:35] RobQuistNL commented on #3355
I don't know why this happens and your reproduction methods are concerning. Because;

We never do that

We always do that

We always do that

We also do that

[2022-03-12 13:17] Reiers commented on #3355
My repro is concerning because I came with some friendly advise on best practices while we trying to figure this out.
How Im I suppose to reproduce then? to gather logs? @RobQuistNL
We are currently looking at the issue and need more logs than above.
I put my own production miner on the line for this - so please share how I can gather logs faster so this can get resolved.

[2022-03-12 13:28] Reiers commented on #3355
I have never encounter this issue - so I needed do something to trigger it.
and your description is: Sector is stuck in a loop (have 2 of these) and your logs from 0.5.4 is not there anymore - and you dont know what triggers it.

So I ask again, what is wrong with my method of repro? and is there a better way? Because I have spent a week now, gathering logs.

[2022-03-12 13:59] RobQuistNL commented on #3355
What? I'm not saying anything's wrong - I just find it concerning that it has to be done this way. I mean I think there's something else deep down in lotus / the workflow thats causing this - I find it concerning that your method of reproduction yields the same result as us regularly running lotus (while not doing anything funky like your repro steps).

[2022-03-12 14:10] Reiers commented on #3355
Okay, I misunderstood your message then.
But that lotus users are running into this without my "funky" repro is concerning, agreed. @RobQuistNL

The good news is that Im narrowing it down with logs - with setting the right kind of log level and running trace.
So will we find the cause eventually :)
_(The only reason I cant share all those logs in the thread here, is because it gives out a lot of i

[2022-03-12 22:54] #8065 closed

[2022-03-12 22:55] arajasek commented on #8062
This is currently achieved by having the FFI put them in the store. This works, but should move into lotus itself.

[2022-03-12 22:59] arajasek commented on #8275
The proposal is to land the necessary work into `master` and simply use 1.15.1-rc1 as the tag for this.

[2022-03-12 23:00] arajasek commented on #8271
The analysis is complete, and the prototype implemented. There is more info to come out of conversations, but this issue can be closed.

[2022-03-12 23:00] #8271 closed

[2022-03-14 01:04] Aloxaf opened #8307 "infinite loop "state machine error" takes up all the disk space"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-14 11:34] llifezou commented on #8307
It has been fixed, it should be no problem, you can try it, if there is a problem, I will follow up

[2022-03-14 12:10] #6461 closed

[2022-03-14 12:35] RobQuistNL commented on #3355
No worries.

BTW, these big logs;

<details>
  <summary>You can throw them in a spoiler :+)</summary>

[code]
</details>

### How to:

[code]

[2022-03-14 17:20] #8060 closed, assigned to nobody

[2022-03-15 02:31] llifezou opened #8315 "lotus sched plugin"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** brainstorming ideas. If you have an idea you'd like to discuss, please open a new discussion on [the lotus forum](https://github.com/filecoin-project/lotus/discussions/categ

[2022-03-15 02:31] llifezou commented on #8315
The purpose of this issue is to discuss the technical feasibility of this plan. I hope to eventually merge the work into master, please let me know if you have a different opinion.

If you think this technical solution is not mature enough, it will exist as an independent branch, anyway, I want to get your opinion

[2022-03-15 05:22] jennijuju commented on #6652
added a test todo for point 3.b

this sounds..troublesome - what sthe blocker for this to be properly accounted in FVM and lotus calls into that?

point 4 sounds like a really nice M2 or even post M2 thing (like we probably can even hold that in a smart contract - i feel like)
as this ticket itself l feel like this can be a P3 just for tracking.

[2022-03-15 05:24] xzone opened #8316 "Can't remove or terminate sector."
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-15 05:55] Aloxaf commented on #8307
@llifezou Thanks! But I have removed these sectors, because if I don't do so their log will take up all my disk space.

[2022-03-15 10:00] alyshare-ipfs commented on #8226
I built Calibnet environment and tried the snap-deal but I've got he same error.
Any suggestions of the settings what didn't changed or make?

Already enable the AllowReplicaUpdate = true AllowProveReplicaUpdate2 = true  AllowRegenSectorKey = true

Got the snap-deal sector with ProveReplicaUpdate but changed continuously into ReplicaUpdateFailed

**Worker**

`lotus-worker --worker-repo=replica-upd

[2022-03-15 13:31] magik6k commented on #8227
The primary sector tracking issue turned out to just be a CLI-side thing: https://github.com/filecoin-project/lotus/pull/8320

[2022-03-15 14:31] magik6k commented on #8227
It would be really great if you could grep miner logs for `acquire src storage (remote)`, and if you see anything related to snapdeals sectors - send them here.

[2022-03-15 16:46] TippyFlitsUK commented on #8227
Completed `snap-up` sector `5130` to produce required logs. Sector currently has status of `UpdateActivating`.

Sealing files remain in `cache`, `sealed` and `unsealed` folders. Log files below:

[lotus-miner.log](https://github.com/filecoin-project/lotus/files/8255428/lotus-miner.log)
[lotus-markets.log](https://github.com/filecoin-project/lotus/files/8255431/lotus-markets.log)
[lotus-worker-3.lo

[2022-03-15 23:22] #8071 closed

[2022-03-15 23:23] jennijuju opened #8321 "[Shipped] v1.15.1"
# Lotus v1.15.0 Release

## 🚢 Estimated shipping date

<Date this release will ship on if everything goes to plan (week beginning...)>

2022-03-15: v1.15.1-rc1
2022-04-07: v1.15.1

## 🔦 Highlights

< top highlights for this release notes >

## ✅ Release Checklist

**Note for whomever is owning the release:** please capture notes as comments in this issue for anything you noticed that could be impr

[2022-03-16 11:10] #4611 closed

[2022-03-16 11:10] magik6k commented on #4611
Re-enabled in https://github.com/filecoin-project/lotus/pull/8291

[2022-03-16 12:09] llifezou commented on #8316
[code]
`state machine error: running planner for state RecoverDealIDs failed: return state not set` because of multiple forced state changes

[2022-03-16 12:12] llifezou commented on #8316
./lotus-shed sectors terminate --really-do-it 390
2022-03-15T08:15:34.908+0900 WARN lotus-shed lotus-shed/main.go:103 mpool push message:
main.glob..func83
/root/lotus/cmd/lotus-shed/sectors.go:150

GasEstimateMessageGas error: estimating gas used: message execution failed: exit 16, reason: failed to terminate sectors in deadline 0: failed to terminate sectors in partition 0: can only terminate li

[2022-03-16 17:24] Reiers commented on #8010
**Hi @aueam**

Are you still having this issue on the latest tag `v1.15.0`?

*Link to latest tags [here.](https://github.com/filecoin-project/lotus/tags)

[2022-03-16 17:28] Kubuxu commented on #6652
I don't understand, what is happening there?

[2022-03-16 17:48] #8227 closed

[2022-03-16 18:13] Reiers commented on #5531
@zzx234234 Hi

Well if you throw to many sectors at your miner or worker it will stop - shutdown with:  `Bus Error(Core dumped)`
My guess is that your CPU has 56 cores, and 56 threads - total 112.

- If you want utilize multicore then you can run max 18 AP jobs at once.
If you dont have the environment `FIL_PROOFS_USE_MULTICORE_SDR=1` set, then you can throw 56 AP jobs at your CPU at once.

I dont

[2022-03-16 18:13] #5531 closed

[2022-03-16 21:24] #8231 closed

[2022-03-17 04:14] xzone commented on #8316
I did it exactly.
<img width="611" alt="스크린샷 2022-03-17 오후 1 13 06" src="https://user-images.githubusercontent.com/1021587/158735873-a4537f45-8a22-479d-bec4-12d922411ccc.png">

[2022-03-17 06:39] llifezou commented on #8316
Requires sectors must be proving once, otherwise `can only terminate live sectors`. need to find the sector files for 390, if it is damaged, try to repair it

[2022-03-17 06:40] llifezou commented on #8316
Requires sectors must be proving once, otherwise can only terminate live sectors. need to find the sector files for 390, if it is damaged, try to repair it

[2022-03-17 07:17] ifanheng opened #8335 "retrieval data keeps getting stuck in DealStatusFundsNeeded state"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-17 09:32] xzone commented on #8316
how to repair?

[2022-03-17 11:19] #8133 closed

[2022-03-17 13:17] llifezou commented on #8316
I know a community tool, `https://github.com/filecoin-box/lotus-box` , you can try

[2022-03-17 15:58] #8307 closed

[2022-03-18 02:09] simlecode opened #8344 "Used fvm sync failed in calibnet: parent state root not match"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-18 03:26] ifanheng commented on #8335
Another day passed, but the problem did not get any better.

[2022-03-18 05:41] xzone commented on #8316
Since the sector was forcibly updated, the status does not change even if the sector file is restored.  Other work is possible only when the state can be modified.

[2022-03-18 15:21] jennijuju commented on #8275
it exists now

[2022-03-18 15:21] #8275 closed

[2022-03-18 15:27] SgtCoin commented on #8335
Testing on calibnet

[2022-03-20 12:12] ifanheng commented on #8335
I am testing on calibnet, too.
Another few days have passed yet, but the problem has not gotten any better.
I don't know what to do anymore!

[2022-03-20 21:56] Angelo-gh3990 opened #8352 "Deals missing in indexer and lotus-miner info - 1.15.1-dev+mainnet+git.77a954c7c"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-20 22:52] AleemRehman commented on #8170
@magik6k / @jennijuju can have a look at this?

[2022-03-21 03:49] jennijuju commented on #8170
Hi! Do you mean you wanna work on this one?

[2022-03-21 12:10] #8010 closed

[2022-03-22 15:02] TippyFlitsUK commented on #8352
Hey Angelo

Have you had a chance to dig any further with this?

Many thanks!!

[2022-03-22 16:38] arajasek commented on #8113
Elaborating on @jennijuju 's post, this would probably involve the following:

- having a migration that reverts to using synthetic CIDs
- introducing "v9" actors that are functionally equivalent to v8 actors (except for code cids)
- revert to using the LegacyVM for msg execution.

Note that this is disaster planning, and not related to the OP goal of supporting bulitin actor updates.

[2022-03-22 21:47] Stebalien commented on #6652
VerifyConsensusFault is implemented inside lotus because it requires chain walking. Unfortunately, this means it needs to resolve worker keys, which means it needs to charge gas for this operation.

However... for nv16, we can _probably_ stop charging gas for looking up worker keys, lumping that gas fee into the consensus fault gas fee. This won't be _entirely_ accurate if we start charging per-by

[2022-03-22 23:53] #8250 closed

[2022-03-22 23:54] #8059 closed

[2022-03-23 08:03] aarshkshah1992 commented on #8352
@Angelo-gh3990  Please note that the dagstore reinit does NOT create indices for deals that don't have an unsealed copy. I think that is why @TippyFlitsUK  is asking for stats on your sealed and update folders in the above comment.

[2022-03-23 08:28] phoenixzhua opened #8362 "wdPoSt scheduler notifs channel closes when lotus-miner is under heavy load"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-23 13:58] raulk commented on #8113
+1. In my head, the action plan here for the OP would be:

- If the bug is in actor code.
	1. Fix it in [`filecoin-project/builtin-actors`](https://github.com/filecoin-project/builtin-actors/)
	2. Produce a new release + bundle.
	3. Integrate it into Lotus by mapping it to a network version.
	4. Implement the migration logic to patch CodeCIDs in the state tree according to a lookup table, where th

[2022-03-23 14:06] raulk commented on #8263
This should be solved. Reopen if it wasn't.

[2022-03-23 14:06] raulk commented on #8062
@arajasek Any remaining action items here?

[2022-03-23 15:18] arajasek commented on #7963
Closed by #8361

[2022-03-23 15:50] Angelo-gh3990 commented on #8352
Here is the folder info :

update folder always 1 in every attached LT storage location
total sealed 3863
total unsealed 2669

@TippyFlitsUK , we can discuss the "lotus-miner info all" offline if you want. It has to much info to share publicly.

thanks

[2022-03-23 19:56] rjan90 commented on #7711
Hey! Closing this issue as the `lotus-miner retrieval-deals list` is now sorted på `DealID`.

[2022-03-23 19:56] #7711 closed

[2022-03-23 19:59] rjan90 commented on #2583
Hey! Closing this issue as the retrieval transfer progress is being tracked in `lotus-miner data-transfers list`.

[2022-03-23 19:59] #2583 closed

[2022-03-23 20:01] rjan90 commented on #8069
Hi! Magik is going to ship 1:N PoSt-worker with the first release, so closing this issue.

[2022-03-23 20:01] #8069 closed

[2022-03-23 20:03] rjan90 commented on #2431
Hey! The msig CLI has a cancel command now 😄, so I´m closing this now!

[2022-03-23 20:03] #2431 closed

[2022-03-24 03:09] ifanheng commented on #8335
Can anyone help me?

[2022-03-24 04:48] alexchen123321 opened #8366 "can not init lotus miner"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-24 07:02] rjan90 commented on #8366
Hey @alexchen123321!

Thanks for the ticket. The reason the initialization fails is because you need to send some funds to the address before they can be found on-chain. Send a small amount of FIL to it, check that it has got a balance with `lotus wallet list` after a couple of epochs and then retry the initialization.

Another small tip, it seems like your are on the master-branch with some addit

[2022-03-24 07:02] #8366 closed

[2022-03-24 07:06] alexchen123321 commented on #8366
thanks very much . get it

[2022-03-24 07:43] rjan90 commented on #3960
Hey!

Closing this issue as I think we have landed on that this is easier to script on the Storage Provider side, then to bring in as a feature of Lotus itself.

[2022-03-24 07:43] #3960 closed

[2022-03-24 07:44] rjan90 commented on #4047
Hi @zgfzgf!

Thanks for the report. The issue is outdated, and not relevant anymore.

If this is a issue in current release please open a new ticket.

Thanks again !

[2022-03-24 07:44] #4047 closed

[2022-03-24 07:46] rjan90 commented on #4636
Hi @NewMai!

Thanks for the report. The issue is outdated as the benchmark-tool is working properly in the newest releases.

If this is a issue in current release please open a new ticket.

Thanks again !

[2022-03-24 07:46] #4636 closed

[2022-03-24 07:56] rjan90 commented on #8031
Hi @mrihn!

Thanks for the ticket, but this seems to be a network configuration issue on the SP side, rather then a issue in Lotus per se. It also seems like this has been resolved? Feel free to reach out on in #fil-lotus-help channel on Slack if its still a problem.

Closing Lotus issue ticket.

[2022-03-24 07:56] #8031 closed

[2022-03-24 08:16] rjan90 commented on #3596
Hey!

Since `lotus-miner sectors mark-for-upgrade` has been depreciated as of Lotus 1.14.0, I´m closing this issue. SnapDeals creates a much cleaner view of which sector is being upgraded, since it only fills the CC-sector you are marking, and not replacing it by a new sector.

[2022-03-24 08:16] #3596 closed

[2022-03-24 08:18] rjan90 commented on #3595
Hi @mostcute!

Thanks for the report. The issue is outdated as it´s related to SpaceRace-deals, and not relevant anymore.

If this is a issue in current release please open a new ticket.

Thanks again !

[2022-03-24 08:18] #3595 closed

[2022-03-24 08:57] rjan90 commented on #4018
Hey!

Thank you so much for this ticket, but it seems like the PR for this ticket has been discussed and closed by the devs. So I´m closing the ticket now.

Thanks again !

[2022-03-24 08:57] #4018 closed

[2022-03-24 08:59] rjan90 commented on #7567
Hey 😄

Closing this ticket, as v1.13.1 has been shipped!

[2022-03-24 08:59] #7567 closed, assigned to nobody

[2022-03-24 09:12] rjan90 commented on #4958
Hi!

Thanks for the report. I tried to reproduce the error but could not recreate it with the exact same commands as you, so this seems to have been fixed in newer versions of Lotus.

If this is a issue in current release please open a new ticket.

Thanks again !

[2022-03-24 09:12] #4958 closed

[2022-03-24 09:29] rjan90 commented on #3793
Hi @xtat!

Thanks for the report. The issue is outdated, and also the minimum requirements for the Lotus-node is:

`8-core CPU and 32 GiB RAM. Models with support for Intel SHA Extensions (AMD since Zen microarchitecture or Intel since Ice Lake) will significantly speed things up.
`
So it´s expected that it would OOM when syncing with 16GiB RAM

Thanks again !

[2022-03-24 09:29] #3793 closed

[2022-03-24 09:39] rjan90 commented on #2454
Hi @yangchuang123456!

Thanks for the report. The issue is outdated, and not relevant anymore.

If this is a issue in current release please open a new ticket.

Thanks again !

[2022-03-24 09:39] #2454 closed

[2022-03-24 09:47] rjan90 commented on #2487
Hey @jimpick!

I´m going through some old issues to see if something can be closed. Did you ever find out if this was expected, or if it´s a bug? I tried to import the same jpg with the current lotus-version (lotus v1.15.0), and got the same long CID output as you.

[2022-03-24 09:52] rjan90 commented on #3699
Hey @Schwartz10!

Did you ever find answers to this? Since this ticket seems a bit outdated, and is more of a question rather then a issue, I´m closing this for now.

If this is a issue in current release please open a new ticket.

Thanks again !

[2022-03-24 09:52] #3699 closed

[2022-03-24 09:57] #3785 closed

[2022-03-24 13:02] rjan90 commented on #8362
Hi @phoenixzhua!

Thanks for the report. I will add labels and will assign it to the right team for analysis.
We might tag you again for more information.

[2022-03-24 13:10] egoleecode opened #8367 "Lotus journal files size growing very fast"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-24 13:23] rjan90 commented on #4451
Hi!

Thanks for the report. The issue seems to be outdated / there has come a fix for the panic. When I tried to reproduce the issue, it only errored out.

[code]

If this is a issue in current release please open a new ticket.

Thanks again!

[2022-03-24 13:23] #4451 closed

[2022-03-24 13:25] rjan90 commented on #5339
This can be closed when #7971 lands.

[2022-03-24 13:27] #4035 closed

[2022-03-24 13:41] #6130 closed

[2022-03-24 14:32] TippyFlitsUK commented on #2571
Addressed in #7204

[2022-03-24 15:04] TippyFlitsUK commented on #2926
Hi @jimpick

This looks like a reminder. Should we close it or keep it open?

[2022-03-24 15:36] rjan90 commented on #8362
Adding some additional information here based on the [Slack-thread:](https://filecoinproject.slack.com/archives/CPFTWMY7N/p1648017169204349)

- It seems like the websocket closes when there is a lot of Finalize/GET-tasks running simultaneously. And if a lot these jobs are running when you are going to do windowPoSt, you will get `window post scheduler notifs channel closed` and end up not computin

[2022-03-24 16:20] TippyFlitsUK commented on #7723
Hey Stu

Are you still seeing this behaviour in the more recent versions of Lotus?

[2022-03-24 16:27] vyzo commented on #7565
afaict it should be fixed.

[2022-03-24 16:28] #7565 closed

[2022-03-24 16:32] TippyFlitsUK commented on #7827
Hey  @William8Work

Are you experiencing this issue in the more recent versions of Lotus?

[2022-03-24 16:35] #2487 closed

[2022-03-24 16:44] TippyFlitsUK commented on #7813
Addressed in https://github.com/filecoin-project/lotus/pull/7646

[2022-03-24 16:46] stuberman commented on #7723
I have not seen this issue since December 2022. Closing this now.

[2022-03-24 16:46] #7723 closed

[2022-03-24 16:58] TippyFlitsUK commented on #7754
addressed in https://github.com/filecoin-project/lotus/pull/7762

[2022-03-24 16:58] #7754 closed

[2022-03-24 17:23] TippyFlitsUK commented on #7742
Error not occurring in 1.15.1-rc2. Closing as resolved.

[2022-03-24 17:23] #7742 closed

[2022-03-24 17:28] TippyFlitsUK commented on #7736
Hey @NSC-FIL

Are you still seeing this behaviour in recent Lotus versions?

[2022-03-24 17:32] TippyFlitsUK commented on #7732
Hey @Angelo-gh3990

Just checking in. Any improvement on the newer Lotus releases?

Many thanks!

[2022-03-24 17:35] TippyFlitsUK commented on #7736
Many thanks!!

[2022-03-24 17:35] #7736 closed

[2022-03-25 02:46] phoenixzhua commented on #8362
If a lot these Finalize/GET-tasks are running when doing windowPoSt, I can see the computing the windowPoSt for current deadline has finished `verify_window_post: finish` in the rust log after `window post scheduler notifs channel closed` appears in the miner log.
But the SubmitWindowedPoSt message does not landed on chain, and next deadline windowPoSt does not start because I can't see something

[2022-03-25 10:08] TippyFlitsUK commented on #8367
Hi @egoleecode

Thanks for the report. I will add labels and will assign it to the right team for analysis.
We might tag you again for more information.

[2022-03-25 18:21] ZenGround0 commented on #7498
Expected behavior if you have a deadline cron: https://github.com/filecoin-project/specs-actors/blob/97fc4480cbc9b7078c67276d8c3394e3423ef513/actors/builtin/miner/miner_actor.go#L2221

[2022-03-25 22:00] rjan90 commented on #7217
Hi @potato1992

Thank you so much for the report. This issue/feature has been implemented in newer versions of Lotus, where you can create [worker-groups](https://lotus.filecoin.io/storage-providers/seal-workers/seal-workers/#sector-storage-groups)

Closing ticket.

[2022-03-25 22:00] #7217 closed

[2022-03-26 01:40] #5339 closed

[2022-03-26 13:26] ssim-itaz opened #8376 "how to delete ststus log message and sector remove?"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-26 15:28] iseriser opened #8377 "Unable to cancel or restart "dead" data-transfers"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-27 11:36] rjan90 commented on #3878
Hey! 😄 It seems like this issue has been fixed & merged. So closing this now.

[2022-03-27 11:36] #3878 closed

[2022-03-27 16:59] rjan90 commented on #2380
Hey! It seems like this have been fixed now, at least when I reproduced it now, I got a clean output:
<details>
  <summary>lotus state compute-state --vm-height 1000 --show-trace --html</summary>

[code]
</details>

Please reopen if you know that this is still an issue!

[2022-03-27 16:59] #2380 closed

[2022-03-27 22:20] nicola commented on #2170
hey @arajasek was this ever fixed?

[2022-03-28 05:59] rjan90 commented on #8280
Hey @spark8899!

Thanks for this issue and the PR. I see that you have gotten a feedback from the devs, and that parts of the code have been merged, so I´m closing this now.

Thanks again 😄

[2022-03-28 05:59] #8280 closed

[2022-03-28 06:03] rjan90 commented on #8377
Hey @iseriser!

Thanks for the report. I will add labels and will assign it to the right team for analysis. We might tag you again for more information.

[2022-03-28 06:25] rjan90 commented on #7498
Hey @EmadMF!

I have created #8384 to change the message to clarify that it´s only Storage Providers without active deadlines that needs to call  `confirm-change-worker`.

Thanks again.

[2022-03-28 08:24] rjan90 commented on #2938
Hi @RustMan88!

Thanks for the report. The issue is outdated, and a number of scheduler-improvements has been merged since this release. If you see this issue in a current release please open a new ticket.

Thanks again !

[2022-03-28 08:24] #2938 closed

[2022-03-28 08:38] rjan90 commented on #3117
Hey!

I´m closing this since it seems a bit hard to investigate or reproduce. If someone else runs into this issue on newer version they hopefully get som additional logs.

[2022-03-28 08:38] #3117 closed

[2022-03-28 08:57] rjan90 commented on #2829
Hi @arajasek!

This looks like a reminder. Should we close it or keep it open?

[2022-03-28 09:30] flyworker opened #8385 "cannot connect to infura using lite node"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-28 16:57] #7498 closed

[2022-03-28 18:17] magik6k opened #8387 "worker: Refuse to start with low FD limits"

[2022-03-28 18:41] iseriser opened #8388 "Sector gets stuck with no reason"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-28 19:03] iseriser commented on #8388
I have found that files like unsealed/s-t01784458-357 and unsealed/s-t01784458-356 are stored in my PC1 miner sealing folder.

[2022-03-28 19:21] arajasek commented on #2170
@nicola No, this is still an outstanding issue.

[2022-03-28 19:25] TippyFlitsUK commented on #8388
Hi @iseriser

Thank you for taking the time to provide detailed logging information!

Looking at your logs it would appear that you are seeing storage related errors. You mentioned in your last comment that your are seeing files generated in your unsealed folder. Can you please provide some additional information about your sealing disks?

1. What types of disk are you using for sealing? HDD, SDD,

[2022-03-28 22:33] #8387 closed

[2022-03-29 01:30] magik6k opened #8392 "Make `make gen` faster"
Mostly make it actually work in parallel

[2022-03-29 01:59] llifezou commented on #8388
The status is Committing, that is, waiting to execute C1/C2. If the encapsulated sector file is gone, it is stuck in C1. If the encapsulated file exists, it may be stuck in C2.

[2022-03-29 02:38] sedasdas commented on #8315
Can I try it out?

[2022-03-29 02:39] sedasdas commented on #8315
Yes, a lot of people need it.

[2022-03-29 04:52] Jorropo opened #8393 "Master Build is failing due to stale commit reference in go.mod"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-29 07:26] llifezou commented on #8315
I'm working on it, I'd be happy if you'd like to contribute

[2022-03-29 07:40] iseriser commented on #8388
1. RAID0 4xNVMe drives
2. [######****                                        ] 3.165 TiB/14.44 TiB 21%

[2022-03-29 07:44] iseriser commented on #8388
Those two do not change state for 48 hours. I have restarted miner, workers, there were no other sectors in queue, but they were not being proceeded in any way.

[2022-03-29 07:56] llifezou commented on #8388
`sectors	storage-sealing/states_sealing.go:570	KOMIT 356` is printed, the processing of the state machine is no problem, the high probability is that C1 cannot be scheduled

[2022-03-29 07:58] llifezou commented on #8388
Does the sector files exist? Or do you observe the log related to `declare` when you restart

[2022-03-29 08:02] iseriser commented on #8388
[code]
But now those worker IDs do not exist.

[2022-03-29 08:27] rickiey opened #8394 "thread '<unnamed>' panicked at 'source slice length (2195990) does not match destination slice length (64)', /root/.cargo/registry/src/github.com-1ecc6299db9ec823/multihash-0.16.1/src/hasher_impl.rs:250:36"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-29 09:28] TippyFlitsUK commented on #8394
Hey @rickiey

Thank you for your report!

This issue will be resolved in the upcoming `1.15.1-rc4` release.

Please set `LOTUS_USE_FVM_EXPERIMENTAL=0` for the time being.

Many thanks

[2022-03-29 09:51] TippyFlitsUK commented on #8393
Hi @Jorropo

Thanks for the report. I will add labels and will assign it to the right team for analysis.
We might tag you again for more information.

[2022-03-29 10:15] TippyFlitsUK commented on #8388
Hi @iseriser

Thanks for the report. The issue you are experiencing lies elsewhere.

Moving this issue to Lotus Discussions for help and troubleshooting.

Closing Lotus issue ticket.

[2022-03-29 10:15] #8388 closed

[2022-03-29 11:14] mur-me opened #8396 "[ lotus-daemon ] - segfaults in v1.15.0"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-29 12:10] #7827 closed

[2022-03-29 12:10] #2926 closed

[2022-03-29 12:10] #2596 closed

[2022-03-29 13:55] TippyFlitsUK commented on #7687
Hey @j1v

I have not been able to reproduce this issue in https://github.com/filecoin-project/lotus/releases/tag/v1.15.0.

Can you please advise if you are still seeing this?

Many thanks!

[2022-03-29 15:42] TippyFlitsUK opened #8398 "Add Safety Features to Renew Sectors Command"
### Checklist

- [X] This is **not** a new feature or an enhancement to the Filecoin protocol. If it is,  please open an [FIP issue](https://github.com/filecoin-project/FIPs/blob/master/FIPS/fip-0001.md).
- [X] This is **not** a new feature request. If it is, please file a [feature request](https://github.com/filecoin-project/lotus/issues/new?assignees=&labels=need%2Ftriage%2Ckind%2Ffeature&templa

[2022-03-29 16:03] TippyFlitsUK commented on #7623
Hey @o21x

I am unable to reproduce this error on 1.15.1. Can you please confirm if your are still seeing this behavior?

Many thanks!

[2022-03-29 16:22] TippyFlitsUK commented on #329
Hi @whyrusleeping

This looks like a reminder. Should we close it or keep it open?

[2022-03-29 16:23] TippyFlitsUK commented on #543
Hi @magik6k

This looks like a reminder. Should we close it or keep it open?

[2022-03-29 16:24] TippyFlitsUK commented on #549
Hi @magik6k

This looks like a reminder. Should we close it or keep it open?

[2022-03-29 16:26] TippyFlitsUK commented on #2696
Hi @magik6k

This looks like a reminder. Should we close it or keep it open?

[2022-03-29 16:31] j1v commented on #7687
Yes, those are still in my data transfers list and can not be removed :(

[2022-03-29 17:34] magik6k commented on #8396
This might be caused by hardware issues or datastore corruption, but in case there is some more interesting reason, it would be really helpful to get a gdb backtrace:

[code]

(`dmesg` may also have some clues)

[2022-03-29 18:10] arajasek commented on #8393
Thanks for the report. Will be fixed by #8400

[2022-03-29 18:23] #8393 closed

[2022-03-29 18:58] Reiers commented on #8398
If it can differentiate between CC and deal/FIL+ sectors then adding a flag like this:
`lotus-miner sectors extend --only-cc --from=x --to=x`

Could also be an option.

[2022-03-29 19:11] Reiers commented on #8376
Hi @ssim-itaz

Thanks for the report. I have added labels and will assign it to the right team for analysis.
I reproduced the issue on latest tag `v1.15.1-rc3`.

- lotus-miner sealing abort ID
- lotus-miner sectors remove --really do-it sectornum

That will result in these messages below in the miner log, over and over again:
[code]
and `kvlog`(miner path), will fill up fast - in less than 6 hours

[2022-03-30 01:54] arajasek commented on #8263
Will be closed by that^

[2022-03-30 06:18] shotcollin opened #8405 "Config file mistake causes miner log file to grow to 2GB in 90 min"
### Discussed in https://github.com/filecoin-project/lotus/discussions/8399

This issue was turned into a discussion, but the discussion was immediately locked and didn't allow any comment, update, further discussion, etc. So I apologize for turning this back into an issue, but that was the only way to add this annotation:

I attempted to make the original issue clear in that it wasn't referring t

[2022-03-30 06:38] sedasdas commented on #8315
It would be a great achievement if you would contribute it.

[2022-03-30 06:52] rjan90 commented on #8405
Hey @shotcollin!

Thanks for the detailed issue-report. I will try to reproduce it on a newer version as I know some kvlog / error-loops events have been fixed in the upcoming v1.15.1 release, see this PR: #8338.

[2022-03-30 10:01] jenks-guo-filecoin opened #8406 ""Undefined symbols for architecture x86_64" error while installing on macOS 12.3"
### Checklist

- [X] This is **not** a security-related bug/issue. If it is, please follow please follow the [security policy](https://github.com/filecoin-project/lotus/security/policy).
- [X] This is **not** a question or a support request. If you have any lotus related questions, please ask in the [lotus forum](https://github.com/filecoin-project/lotus/discussions).
- [X] This is **not** a new f

[2022-03-30 10:08] rjan90 commented on #8406
Thanks for the ticket!

I have added labels to the issue, and will try assign to the correct person for analysis. Might tag you again for more information.

[2022-03-30 10:37] TippyFlitsUK commented on #8385
Hi @flyworker

Can you please confirm the format of the  `FULLNODE_API_INFO` env var that you are using?

Many thanks!

[2022-03-30 10:45] TippyFlitsUK commented on #8394
Hi @rickiey

[1.15.1-rc4](https://github.com/filecoin-project/lotus/releases/tag/v1.15.1-rc4) is now available. Please upgrade when possible and confirm if the error is resolved for you.

Many thanks!

[2022-03-30 11:03] llifezou commented on #8315
thank you, I will do it.

[2022-03-30 11:24] TippyFlitsUK commented on #1936
Hi @shannonwells

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 11:34] llifezou commented on #8315
Currently I plan to maintain this proposal separately and will not be merged into master anytime soon. I'm ready for long term maintenance. Minimize disruption to official team development plans.

Wondering if this job can be approved for development grants? @jennijuju

[2022-03-30 11:43] f8-ptrk commented on #8405
https://github.com/filecoin-project/lotus/issues/7003

[2022-03-30 11:50] jenks-guo-filecoin commented on #8406
Massive thanks to @LexLuthr for resolving this issue with me. The following steps

- remove go completely system wide
- remove all PATH variable related to go, gvm(if any), and cargo
- remove all env variables related to go, gvm (if any) and cargo
- install go with `brew install go@1.17`
- install rest of the dependecies with `brew install bzr jq pkg-config rustup hwloc`
- clone, cd lotus/, checko

[2022-03-30 11:50] #8406 closed

[2022-03-30 12:30] TippyFlitsUK commented on #2081
Hi @ghost

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 12:33] TippyFlitsUK commented on #2210
Hi @whyrusleeping

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 12:36] TippyFlitsUK commented on #2250
Hi @vyzo

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 12:37] TippyFlitsUK commented on #2258
Hi @whyrusleeping

This looks like a reminder. Should we close it or keep it open?

[2022-03-30 12:39] TippyFlitsUK commented on #2266
Hi @jimpick

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 12:43] TippyFlitsUK commented on #2291
Hi @vyzo

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 12:44] TippyFlitsUK commented on #2250
Thanks @vyzo

I can confirm that I haven't seen this error for months even with a very heavy deal load.

[2022-03-30 12:44] #2250 closed

[2022-03-30 12:45] vyzo commented on #2291
this is ancient, probably not relrvant any more.

[2022-03-30 12:47] TippyFlitsUK commented on #259
Hi @magik6k

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 12:51] rjan90 commented on #7934
Hey!

Closing this issue as mark-for-upgrade cli command and underlying sealer methods has been merged into master. It´s currently not in v1.15.1-rc4, but since its in master I think we can say that the command has been depreciated.

[2022-03-30 12:51] #7934 closed

[2022-03-30 12:55] TippyFlitsUK commented on #1370
Hi @magik6k

This looks like a reminder. Should we close it or keep it open?

[2022-03-30 13:02] TippyFlitsUK commented on #1920
Hi @whyrusleeping

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 13:06] TippyFlitsUK commented on #2292
Hi @vyzo

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 13:08] TippyFlitsUK commented on #2294
Hi @vyzo

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 13:10] TippyFlitsUK commented on #2295
Hi @raulk

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 13:11] TippyFlitsUK commented on #2301
Hi @ribasushi

This issue has not been updated in some time. Should we close it or keep it open?

[2022-03-30 13:13] TippyFlitsUK commented on #2314
Addressed in https://github.com/filecoin-project/lotus/pull/2372

[2022-03-30 13:13] #2314 closed

[2022-03-30 13:21] vyzo commented on #2292
again, ancient history, i have no idea if this is still an issue

[2022-03-30 13:21] ribasushi commented on #2301
It goes all the way to actors, difficult to fix, stalled here: https://github.com/filecoin-project/go-state-types/pull/29

Up to @ZenGround0 @Stebalien and @anorth what to do here...

[2022-03-30 13:22] vyzo commented on #2294
dunno, presumably these issues have been fixed?

[2022-03-30 13:48] TippyFlitsUK commented on #2353
Hi @ghost

This issue has not been updated in some time. Should we close it or keep it open?